head
	title JSChannel Conference - July 15-16th 2016 - Bangalore, India
	meta(charset='utf-8')
	meta(name='keywords', content='javascript,jschannel,javascript conference, Bengaluru,community,conference,NCR,jsconference,angularJS,nodeJS,angularjs,emberjs,ecmascript,iojs,hapijs,expressjs')
	meta(name='author', content='Amit Kumar')
	meta(name='viewport', content='width=device-width, initial-scale=1')
	meta(name='apple-mobile-web-app-capable', content='yes')
	meta(name='theme-color', content='#E9482B')
	meta(name='msapplication-navbutton-color', content='#E9482B')
	meta(name='mobile-web-app-capable', content='yes')
	meta(name='apple-mobile-web-app-status-bar-style', content='black')
	meta(name='description', content='JSChannel Conference brings together JavaScript Enthusiasts from across the world.This July (15-16th), join us for a 2-day conference in Bengaluru')
	meta(property='og:title', content='JSChannel Conference')
	meta(property='og:url', content='http://2016.jschannel.com')
	meta(property='og:type', content='website')
	meta(property='og:description', content='JSChannel Conference brings together JavaScript Enthusiasts from across the world.This July (15-16th), join us for a 2-day conference in Bengaluru')
	meta(property='og:image', content='http://photos1.meetupstatic.com/photos/event/2/7/e/a/highres_446890218.jpeg')
	meta(property='og:twitter', content='@js_channel')
	meta(property='og:site', content='@js_channel')
	meta(property='og:author', content='JSChannel')

	//- title JSChannel 2016
	link(rel='apple-touch-icon', href='apple-touch-icon.png')
	// Place favicon.ico in the root directory
	// build:css styles/vendor.css
	// bower:css
	// endbower
	// endbuild
	// build:css styles/main.css
	link(rel='stylesheet', href='styles/main.css')
	// endbuild
