nav.navbar.menu.nav-custom.clear.navbar-fixed-top
	.nav-container
		.navbar-header
			button.navbar-toggle.collapsed(type="button",data-toggle="collapse",data-target="#navbar",aria-expanded="false", aria-controls="navbar")
				span.sr-only Toggle navigation
				span.icon-bar
				span.icon-bar
				span.icon-bar
			a.clearfix(href="index.html"): img.navbar-brand.navbar-logo.pull-left(src='../images/logo.png')
		#navbar.navbar-collapse.collapse.navbar-menu(aria-expanded="false")
			ul.nav.navbar-nav.navbar-right
				li
					a.hidden-md.hidden-sm.hidden-lg.text-right(data-toggle="collapse",data-target="#navbar",aria-expanded="false", aria-controls="navbar") Menu  
						span.arrow-up.fa.fa-chevron-up
				li
					a(href='index.html',data-anchor="home", data-toggle="collapse", data-target="#navbar") HOME
				li
					a(href='full-about.html', data-toggle="collapse",data-anchor="ticketView", data-target="#navbar") ABOUT US
				li
					a(href='all-speakers.html', data-toggle="collapse",data-anchor="slide1", data-target="#navbar") SPEAKERS
				li
					a(href='#schedule', data-toggle="collapse",data-anchor="scheduleView", data-target="#navbar") PROGRAM
				li
					a(href='full-register.html', data-toggle="collapse",data-anchor="galleryView", data-target="#navbar") REGISTER
				li
					a(href='all-sponsors.html', data-toggle="collapse",data-anchor="venueView", data-target="#navbar") SPONSORS
				li
					a.no-border(href='full-venue.html', data-toggle="collapse",data-anchor="venueView", data-target="#navbar") VENUE
				//- li
				//- 	a.no-border(href='#contact', data-toggle="collapse",data-anchor="venueView", data-target="#navbar") CONTACT
