#about.about-us-container.text-center
    h1 ABOUT US
    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi voluptatem mollitia error incidunt nemo magnam laboriosam cumque assumenda aperiam perspiciatis, natus, facilis odit quo vitae enim qui dicta molestias est! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi voluptatem mollitia error incidunt nemo magnam laboriosam cumque assumenda aperiam perspiciatis, natus, facilis odit quo vitae enim qui dicta molestias est! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi voluptatem mollitia error incidunt nemo magnam laboriosam cumque assumenda aperiam perspiciatis, natus, facilis odit quo vitae enim qui dicta molestias est!
    p.sub-text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi voluptatem mollitia error incidunt nemo magnam laboriosam cumque assumenda aperiam perspiciatis, natus, facilis odit quo vitae enim qui dicta molestias est! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi voluptatem mollitia error incidunt nemo magnam laboriosam cumque assumenda aperiam perspiciatis, natus.
    a.btn.about-read-more-button(href="")
        i.fa.fa-chevron-circle-right
        | READ MORE
    //- .row.white-background
    //-   .col-md-6.col-sm-12.col-xs-12.jsinfo
    //-     img.jsinfo-image.img-responsive(src='./images/JSChannelConf2016.jpg')
    //-   .col-md-6.col-sm-12.col-xs-12
    //-     div
    //-       h2.subheading-size1
    //-         strong Two Days of Learning!
    //-       h3.subheading-size2 15-16 July 2016, Bangalore
    //-       .container-text
    //-         p
    //-           | Join us for an opportunity to learn and hear from the best brains in the industry.
    //-         p
    //-           strong Talks:
    //-           |  Opportunity to hear from the stalwarts of the JS Community. A platform to learn, share and connect.
    //-         p
    //-           strong Workshops:
    //-           |  Join us to learn and interact with professional JS trainers and experience live-coding sessions.
    //-         p
    //-           strong Fabulous Food:
    //-           |  Enjoy sumptuous cuisine prepared by one of the best restaurant in Bengaluru.
    //-         p
    //-           strong Venue:
    //-           |  The Ritz-Carlton, Bangalore, Karnataka

