
.container-fluid.section.fp-auto-height
  .footer.row
    .col-md-4.col-xs-12.col.sm-12.line-height-adjusted
      .footer-copy Copyright © JSChannel 2013-2016
    .col-md-4.col-xs-12.col.sm-12.text-center
      ul.footer-social
        li.footer-list-element
          .footer-link
            a.fa.fa-envelope.fa-inverse.icon-1(href='mailto:info@jschannel.com?Subject=Hello JSChannel Team', target='_blank')
        li.footer-list-element
          .footer-link
            a.fa.fa-twitter.icon-2(href='https://twitter.com/js_channel/', target='_blank')
        li.footer-list-element
          .footer-link
            a.fa.fa-facebook.icon-3(href='https://www.facebook.com/javascriptchannel', target='_blank')
        li.footer-list-element
          .footer-link
            a.fa.fa-google-plus.icon-4(href='https://plus.google.com/111069083279946389343/', target='_blank')
        li.footer-list-element
          .footer-link
            a.fa.fa-linkedin.icon-5(href='http://www.linkedin.com/groups?home=&gid=5112841', target='_blank')
        li.footer-list-element
          .footer-link
            a.fa.fa-youtube.icon-6(href='https://www.youtube.com/channel/UCdf_Ezv2lcB9OKE_4N23w1A/videos', target='_blank')
        li.footer-list-element
          .footer-link
            a.fa.fa-flickr.icon-7(href='https://www.flickr.com/photos/100543192@N08/sets/72157646036037789/', target='_blank')
    .col-md-4.col-xs-12.col.sm-12.text-center.line-height-adjusted
      ul.footer-right
        li.footer-connect
          a(href='', data-toggle='modal', data-target='#modal-cod') Privacy Policy
        li.footer-connect
          a(href='', data-toggle='modal', data-target='#modal-cod') Terms of Use
        li.footer-connect
          a.no-border(href='', data-toggle='modal', data-target='#modal-cod') Code of Conduct
#modal-cod.modal.fade(aria-hidden='true', tabindex="-1",  role="dialog" )
  .modal-header
    button.close(type='button', data-dismiss='modal', aria-hidden='true') x
    h3 Code of Conduct
  .modal-body
    .code-conduct.code-conduct-info
      h4 Be excellent with each other
      p
        | All attendees, speakers, sponsors and volunteers at our conference are required to agree with the following code of conduct. Organisers will enforce this code throughout the event. We are expecting cooperation from all participants to help ensuring a safe environment for everybody.
    .code-conduct.code-conduct-info-shorter
      h4 The Quick Version
      p
        | Our conference is dedicated to providing a harassment-free conference experience for everyone, regardless of gender, age, sexual orientation, disability, physical appearance, body size, race, or religion (or lack thereof). We do not tolerate harassment of conference participants in any form. Sexual language and imagery is not appropriate for any conference venue, including talks, workshops, parties, Twitter and other online media. Conference participants violating these rules may be sanctioned or expelled from the conference without a refund at the discretion of the conference organisers.
    .code-conduct.code-conduct-info-longer
      h4 The Less Quick Version
      p
        | Harassment includes offensive verbal comments related to gender, age, sexual orientation, disability, physical appearance, body size, race, religion, sexual images in public spaces, deliberate intimidation, stalking, following, harassing photography or recording, sustained disruption of talks or other events, inappropriate physical contact, and unwelcome sexual attention. Participants asked to stop any harassing behavior are expected to comply immediately. Sponsors are also subject to the anti-harassment policy. In particular, sponsors should not use sexualised images, activities, or other material. Booth staff (including volunteers) should not use sexualised clothing/uniforms/costumes, or otherwise create a sexualised environment. If a participant engages in harassing behavior, the conference organisers may take any action they deem appropriate, including warning the offender or expulsion from the conference with no refund. If you are being harassed, notice that someone else is being harassed, or have any other concerns, please contact a member of conference staff immediately. Conference staff can be identified as they'll be wearing branded t-shirts. Conference staff will be happy to help participants contact hotel/venue security or local law enforcement, provide escorts, or otherwise assist those experiencing harassment to feel safe for the duration of the conference. We value your attendance.We expect participants to follow these rules at conference and workshop venues and conference-related social events.
    .panel.panel-info
      .panel-heading
        h3.panel-title Need Help?
      .panel-body
        | Amit Kumar  
        i.fa.fa-mobile-phone +91 9619483353
        br
        |           Rajesh Panda  
        i.fa.fa-mobile-phone +91 9900488400
        br
        |           Naresh Sharma  
        i.fa.fa-mobile-phone +91 9611641301
        br
        |           Suman Paul  
        i.fa.fa-mobile-phone +91 9945458300
        br 
        |           Niket Jain 
        i.fa.fa-mobile-phone +91 9025328198
        
        
        
        
