.container-fluid
  .footer.row
    .col-md-4.col-xs-12.col.sm-12
      .footer-copy
        | Copyright © JSChannel 2013-2016
    .col-md-4.col-xs-12.col.sm-12.text-center
      ul.footer-social
        li.footer-list-element
          .footer-link
            a.fa.fa-envelope.link
        li.footer-list-element
          .footer-link
            a.fa.fa-twitter.link
        li.footer-list-element
          .footer-link
            a.fa.fa-facebook.link
        li.footer-list-element
          .footer-link
            a.fa.fa-google-plus.link
        li.footer-list-element
          .footer-link
            a.fa.fa-linkedin.link
        li.footer-list-element
          .footer-link
            a.fa.fa-youtube.link
        li.footer-list-element
          .footer-link
            a.fa.fa-flickr.link
    .col-md-4.col-xs-12.col.sm-12.text-center
      ul.footer-right
        li.footer-list-element
          .footer-connect
            a Privacy Policy
        li.footer-list-element
          .footer-connect
            a Terms of use
        li.footer-list-element
          .footer-connect
            a Code of Conduct
