section
  // .container-fluid
  //   .sponser
  //     .row
  //       .col-md-12.col-sm-12.col-xs-12
  //         .sponser-heading.center SPONSERS
  //         .sponser-subheading.center Sponsers play a major role in the success of an event.
  //     .row
  //       .col-xs-12.col-sm-8.col-md-4
  //         .sponser-image-heading
  //           h3 Gold
  //         .sponser-logo
  //           img(src='images.jpeg')
  //       .col-xs-12.col-sm-8.col-md-4
  //         .sponser-image-heading
  //           h3 Silver
  //         .sponser-logo
  //           img(src='images.jpeg')
  //       .col-xs-12.col-sm-8.col-md-4
  //         .sponser-image-heading
  //           h3 Bronze
  //         .sponser-logo
  //           img(src='images.jpeg')
  //     .row
  //       .col-md-12.col-xs-12.col-sm-12.center
  //         button.sponser-button  BECOME A SPONSER
  .container-fluid.gallery-container#gallery
    .gallery
      .row
        .col-md-12.col-xs-12.col-sm-12
          h1.text-center.f40 GALLERY
      .row
        .col-xs-12.col-md-8.col-sm-12
          .gallery-image1.gallery-image
            .caption
              h3 JS Channel 2015
        .col-xs-12.col-md-4.col-sm-12
          .gallery-image2.gallery-image
            .caption
              h3 JS Channel 2015
      .row
        .col-md-12.col-xs-12.col-sm-12
          .space
      .row
        .col-xs-12.col-sm-12.col-md-4
          .gallery-image3.gallery-image
            .caption
              h3 JS Channel 2015
        .col-xs-12.col-sm-12.col-md-4
          .gallery-image4.gallery-image
            .caption
              h3 JS Channel 2015
        .col-xs-12.col-sm-12.col-md-4
          .gallery-image5.gallery-image
            .caption
              h3 JS Channel 2015
      .row
        .col-md-12.col-xs-12.col-sm-12.center
          button.sponser-button  Click for more
