section
  .container-fluid.gallery-container
    .gallery
      .row
        .col-md-12.col-xs-12.col-sm-12
          h1.text-center.f40 GALLERY
      .row
        .col-xs-12.col-md-8.col-sm-12
          .gallery-image1.gallery-image
            .caption
              h3 JS Channel 2015
        .col-xs-12.col-md-4.col-sm-12
          .gallery-image2.gallery-image
            .caption
              h3 JS Channel 2015
      .row
        .col-md-12.col-xs-12.col-sm-12
          .space
      .row
        .col-xs-12.col-sm-12.col-md-4
          .gallery-image3.gallery-image
            .caption
              h3 JS Channel 2015
        .col-xs-12.col-sm-12.col-md-4
          .gallery-image4.gallery-image
            .caption
              h3 JS Channel 2015
        .col-xs-12.col-sm-12.col-md-4
          .gallery-image5.gallery-image
            .caption
              h3 JS Channel 2015
