section.section
	.container-fluid.gallery-container#gallery
		.container.gallery-section(data-toggle="collapse",data-target="#navbar")
			.gallery
				.row.row-fix
					.col-md-12.col-xs-12.col-sm-12
						h1.text-center.f40 GALLERY
				.row.row-fix
					.col-xs-12.col-md-8.col-sm-12
						.gallery-image1.gallery-image
							.caption
								h3 JS Channel 2014
					.col-xs-12.col-md-4.col-sm-12
						.gallery-image2.gallery-image
							.caption
								h3 JS Channel 2014
				.row.row-fix
					.col-xs-12.col-sm-12.col-md-4
						.gallery-image3.gallery-image
							.caption
								h3 JS Channel 2015
					.col-xs-12.col-sm-12.col-md-4
						.gallery-image4.gallery-image
							.caption
								h3 JS Channel 2014
					.col-xs-12.col-sm-12.col-md-4
						.gallery-image5.gallery-image
							.caption
								h3 JS Channel 2015
				.row.row-fix
					.col-md-12.col-xs-12.col-sm-12.center
						span.sponser-button  
							a(href='https://www.flickr.com/photos/100543192@N08/albums/72157656673572946', target='_blank')  Click For More
