.container-fluid.teaser-container.section
	// logo to be made
	#navBar.nav-bar.col-sm-12
		#jschannel-home.jschannel-home
			.jschannel-logo
			span.jschannel-name jsChannel
		#navItems.nav-items
			ul.navList
				li.navItems__jsc #JSCchannelconf2016
				li.navItems__tickets tickets
				li.navItems__speakers speakers
				li.navItems__sponsor sponsor
				li.navItems__about about jschannel
	.text-center
		.left-wrapper.display-inline
			.f65.bold JS CHANNEL
			.f30 CONFERENCE 2016
		.right-wrapper.display-inline.f30
			.f12 JULY 15th, 16th
			.bold BENGALURU
	.col-sm-12.buy-tickets
		button.buy-tickets__button buy tickets
	.col-sm-12.col-xs-4
		button.recap
			| watch 2015 recap
			span.play-glyphicon
		button.submit-talk submit talk
		button.sponsor become a sponsor
