.container-fluid.teaser-container
	nav.navbar.navbar-default.menu.nav-custom
		.container-fluid
			.navbar-header
				button.navbar-toggle.collapsed(type="button",data-toggle="collapse",data-target="#navbar",aria-expanded="false", aria-controls="navbar")
					span.sr-only Toggle navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a(href="#"): img.navbar-brand.navbar-logo.pull-left(src='../images/logo.png')
			#navbar.navbar-collapse.collapse.navbar-menu(aria-expanded="false")
				ul.nav.navbar-nav.navbar-right
					li
						a.hidden-md.hidden-sm.hidden-lg.text-right(href='#',data-toggle="collapse",data-target="#navbar",aria-expanded="false", aria-controls="navbar") Menu
					li
						a(href='#', data-toggle="collapse", data-target="#navbar") #JSChannelConf2016
					li
						a(href='#tickets', data-toggle="collapse", data-target="#navbar") Tickets
					//- li
					//- 	a(href='#speakers', data-toggle="collapse", data-target="#navbar") Speakers
					li
						a(href='#gallery', data-toggle="collapse", data-target="#navbar") Gallery
					li
						a(href='#about', data-toggle="collapse", data-target="#navbar") About JSChannel
	.text-center.voffset40
		.left-wrapper.display-inline
			.row.text-center.center-logo-div
				.col-xs-1
				img.center-logo.col-xs-10(src='../images/logo-name.png')
				.col-xs-1
			.f30 CONFERENCE 2016
		.right-wrapper.display-inline.f30
			|	JULY 15
			sup th
			|  & 16
			sup th
			.bold bengaluru, india
	.row.button-margin
		.col-md-6.voffset40.col-md-offset-3
			button.btn.buy-btn.col-md-8.col-md-offset-2.col-xs-10.col-xs-offset-1 BUY TICKETS
	.row.button-margin
		.col-md-10.col-md-offset-1.voffset40
			button.btn.ghost-btn.col-md-3.col-md-offset-1.col-xs-8.col-xs-offset-2
				| WATCH 2015 RECAP 
				i.fa.fa-play-circle
			button.btn.ghost-btn.col-md-3.col-md-offset-1.col-xs-8.col-xs-offset-2 SUBMIT A TALK
			button.btn.ghost-btn.col-md-3.col-md-offset-1.col-xs-8.col-xs-offset-2 BECOME A SPONSOR
