.container-fluid.teaser-container
	// logo to be made
	//- <<<<<<< HEAD
	//- 	nav.navbar.navbar-default.col-sm-12.col-md-12.navigation-bar
	//- 		#jschannel-home.navbar-header.left-nav
	//- 			a(href="#"): img.navbar-brand.navbar-logo(src='../images/logo.png')
	//- 		#navItems.nav-items.collapse.navbar-collapse
	//- 			ul#navMenu.nav-list.list-unstyled.nav.navbar-nav
	//- 				li.nav-items__jsc(data-menuanchor='jsc'): a(href="") #JSCchannelconf2016
	//- 				li.nav-items__tickets(data-menuanchor='tickets'): a(href="") tickets
	//- 				li.nav-items__speakers(data-menuanchor='speakers'): a(href="") speakers
	//- 				li.nav-items__sponsor(data-menuanchor='sponsor'): a(href="") sponsor
	//- 				li.nav-items__about(data-menuanchor='about'): a(href="") about jschannel
	//- 				
	//- 	.text-center.section-center.row
	//- 		.left-wrapper.display-inline.col-sm-8
	//- 			img.center-logo(src='../images/logo.png')
	//- 			.f30 CONFERENCE 2016
	//- 		.right-wrapper.display-inline.f30.col-sm-4 
	//- 			|	JULY 15
	//- 			sup th
	//- 			|  & 16
	//- 			sup th
	//- 			.bold bengaluru, india
	//- 	.col-sm-12.text-center.buy-tickets
	//- 		button.btn.btn-default.buy-tickets__button buy tickets
	//- 	.col-sm-12.text-center.button-group
	//- 		button.btn.btn-default.recap
	//- 			| watch 2015 recap
	//- 			span.play-glyphicon
	//- 		button.btn.btn-default.submit-talk submit talk
	//- 		button.btn.btn-default.sponsor become a sponsor
	//- =======
	nav.navbar.navbar-default.menu.nav-custom
		.container-fluid
			.navbar-header
				button.navbar-toggle.collapsed(type="button",data-toggle="collapse",data-target="#navbar",aria-expanded="false", aria-controls="navbar")
					span.sr-only Toggle navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar
			#navbar.navbar-collapse.collapse(aria-expanded="false")
				ul.nav.navbar-nav.navbar-right
					li
						a(href='#') #JSChannelConf2016
					li
						a(href='#') Tickets
					li
						a(href='#') Speakers
					li
						a(href='#') Sponsor
					li
						a(href='#') About JSChannel
	.text-center.voffset40
		.left-wrapper.display-inline
			.f65.bold.italics 
				span.orange JS
				| Channel
			.f30 CONFERENCE 2016
		.right-wrapper.display-inline.f30
			.f12 JULY 15th &amp; 16th
			.bold BENGALURU, INDIA
	.row
		.col-md-6.voffset40.col-md-offset-3
			button.btn.buy-btn.col-md-8.col-md-offset-2.col-xs-10.col-xs-offset-1 BUY TICKETS
	.row
		.col-md-6.col-md-offset-3.voffset40
			button.btn.ghost-btn.col-md-3.col-md-offset-1.col-xs-8.col-xs-offset-2 
				| WATCH 2015 RECAP   
				i.fa.fa-play-circle
			button.btn.ghost-btn.col-md-3.col-md-offset-1.col-xs-8.col-xs-offset-2 SUBMIT TALK
			button.btn.ghost-btn.col-md-3.col-md-offset-1.col-xs-8.col-xs-offset-2 BECOME A SPONSOR
