nav.navbar.menu.nav-custom.clear
	.container-fluid
		.container
			.navbar-header
				button.navbar-toggle.collapsed(type="button",data-toggle="collapse",data-target="#navbar",aria-expanded="false", aria-controls="navbar")
					span.sr-only Toggle navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar
				a.clearfix(href="#"): img.navbar-brand.navbar-logo.pull-left(src='../images/logo.png')
			#navbar.navbar-collapse.collapse.navbar-menu(aria-expanded="false")
				ul.nav.navbar-nav.navbar-right
					li
						a.hidden-md.hidden-sm.hidden-lg.text-right(data-toggle="collapse",data-target="#navbar",aria-expanded="false", aria-controls="navbar") Menu  
							span.fa.fa-chevron-up
					li
						a(href='#about',data-anchor="home", data-toggle="collapse", data-target="#navbar") #JSChannelConf2016
					li
						a(href='#tickets', data-toggle="collapse",data-anchor="ticketView", data-target="#navbar") Tickets
					li
						a(href='#speakers', data-toggle="collapse",data-anchor="slide1", data-target="#navbar") Speakers
					li
						a(href='#gallery', data-toggle="collapse",data-anchor="galleryView", data-target="#navbar") Gallery
					li
						a(href='#venue', data-toggle="collapse",data-anchor="venueView", data-target="#navbar") Venue
