section.section
	.container-fluid.partner-container
		.container.partner-section
			.partner
			.row
				.col-md-12.col-sm-12.col-xs-12
					.partner-heading.center
						| PARTNERS
					.partner-subheading.center Big thanks to our partners
			.row
				.partner-logo.text-center
					img.partner-image.partner-img1(src='../images/partner1.png')
					img.partner-image(src='../images/partner2.png')
					//- img.partner-image(src='../images/partner3.png')
