section#schedule
  .container
        .row
          .span12
            .module-header.schedule-header
              h4 Schedule
          .span12
            ul#schedule-tabs.nav.nav-pills.tab-fillspace
              li#lione.active
                a(href='#dayone', onclick="changeCount('two')", role="navigation")
                  | July 15
                  sup th
              li#litwo
                a(href='#daytwo', onclick="changeCount('one')", role="navigation")
                  | July 16
                  sup th
          .tab-content
            #dayone.tab-pane.wo-tab-pane.fade.in.active
              .span4
                h2 First Day
                p
                  //- | We kick-off the conference with registrations & keynote by Douglas Crockford. We request all the attendees to arrive a little early to beat the traffic (since it is weekday - Friday). Also, you definitely won't miss a chance to click snaps with Douglas. We have 2 wonderful live-coding/workshop sessions lined-up post lunch. The details of which is where will be announced on the day of the conference. The last session of the day is Lightning/Flash Talks. We will have a box at the registration counter for you to drop your topics. Selected submissions will get 5 mins to come on stage and share it with rest of the attendees.
                // <div class="schedule-download"><a href="#" class="btn coming-soon">Full Schedule</a></div>
              .span8
                section.timeline.toggle-shortcode.toggles
                  article.event
                    .timeline-icon
                      .timeline-icon-container
                        i.iconf-ok
                    .time-box
                      time 8:30 AM
                    .timeline-content
                      .event-content
                        .toggle-item-title.event-title(data-count='1')
                          h3 Registration

                        .toggle-item-body#toggle-item-body1(style='display: none;')
                          p.p1
                            span.p2 JSChannel Team
                          //- p Registrations and get yourself comfortable.
                  article.event
                    .timeline-icon
                      .timeline-icon-container
                        i.iconf-ok
                    .time-box
                      time 9:30 AM
                    .timeline-content
                      .event-content
                        .toggle-item-title.event-title(data-count='1')
                          h3 Pre-Conference
                        .toggle-item-body#toggle-item-body2(style='display: none;')
                          p.p1
                            span.p2 JSChannel Team
                  article.event
                    .timeline-icon
                      .timeline-icon-container
                        i.iconf-microphone
                    .time-box
                      time 09:45 AM
                    .timeline-content
                      .event-content
                        .toggle-item-title.event-title(data-count='1')
                          h3 Opening Keynote
                          h4 SATTY BHENS
                          //- p
                          //-   b Topic : Upgrading the Web
                        .toggle-item-body#toggle-item-body3(style='display: none;')
                  article.event
                    .timeline-icon
                      .timeline-icon-container
                        i.iconf-microphone
                    .time-box
                      time 10:15 AM
                    .timeline-content
                      .event-content
                        .toggle-item-title.event-title(data-count='1')
                          h3 Opening Keynote
                          h4 Yehuda Katz
                          //- p
                          //-   b Topic : Upgrading the Web
                        .toggle-item-body#toggle-item-body3(style='display: none;')
                          //- p.p1 Speaker:
                          //-   span.p2 Yehuda Katz
                  article.event
                    .timeline-icon
                      .timeline-icon-container
                        i.iconf-dialogue-box
                    .time-box
                      time 11:15 AM
                    .timeline-content
                      .event-content
                        .toggle-item-title.event-title(data-count='1')
                          h3 Effective NodeJS Debugging
                          h4 Dave Kerr
                        .toggle-item-body#toggle-item-body4(style='display: none;')
                          p.p1 In this talk I will demonstrate techniques for debugging NodeJS applications. With a set of examples, I'll show you how to quickly and easily debug applications and test suites, accelerating your development and making troubleshooting more effective.

                  article.event
                    .timeline-icon
                      .timeline-icon-container
                        i.iconf-dialogue-box
                    .time-box
                      time 12:00 PM
                    .timeline-content
                      .event-content
                        .toggle-item-title.event-title(data-count='1')
                          h3 UI as a pure function of your state
                          h4 Vagmi Mudumbai
                        .toggle-item-body#toggle-item-body5(style='display: none;')
                          p.p1 We just implemented a sizeable ReactJS app and have taken a lot of learnings from Om the ClojureScript framework. We have ported a lot its techniques to React and ES2015. In this talk we'll see how we built a framework similar to Redux.
                  article.event
                    .timeline-icon
                      .timeline-icon-container
                        i.iconf-food
                    .time-box
                      time 12:45 PM
                    .timeline-content
                      .event-content
                        .toggle-item-title.event-title(data-count='1')
                          h3
                            | Lunch Break
                            //- span Sponsored by JSChannel
                        .toggle-item-body#toggle-item-body6(style='display: none;')
                          //- p Enjoy the most exotic rich Indian cuisine prepared by chefs in Taj Vivanta.
                  article.event
                    .timeline-icon
                      .timeline-icon-container
                        i.iconf-pencil2
                    .time-box
                      time 2:00 PM
                    .timeline-content
                      .event-content
                        .toggle-item-title.event-title(data-count='1')
                          h3 Hardware Accelerated JavaScript with WebGL
                          h4 Farhad Ghayour
                          //-   | Utilising the next generation of powerful graphics API's on the web
                          //-   span Live-coding/Workshop session by Joe Pettersson
                        .toggle-item-body#toggle-item-body7(style='display: none;')
                          p.p1 Experience beauty at the intersection of software, math & design with hardware accelerated JavaScript in the world of 3D graphics programming.
                          //- p.p1 Speaker:
                          //-   span.p2
                          //- p
                          //-   | The WebGL API open's up an exciting world of possibilities for the web; allowing us to build complex applications, games and experiences that were never possible before. In this workshop we'll learn how to leverage WebGL directly, and also how to utilise it through one of it's most useful abstraction layers: ThreeJS. We'll cover the basics of rendering scenes and objects with lighting, textures and cameras; as well as interacting with them using directly and indirectly through the use of physics engines.
                          //-   | You should come away from this talk with a thirst to learn more about this powerful technology, as well as a basic foundation of skills and knowledge to assist you in that exploration in building your own applications and games.
                          //-   | In order to take the most from this talk, you should have a good understanding of browser JavaScript API's (the DOM API et al) as well as the heart not to be discouraged when we occasionally use phrases like 'matrix manipulation' and 'vector transforms'.
                  article.event
                    .timeline-icon
                      .timeline-icon-container
                        i.iconf-pencil2
                    .time-box
                      time 2:00 PM
                    .timeline-content
                      .event-content
                        .toggle-item-title.event-title(data-count='1')
                          h3 AngularJS 2 - deep dive
                          h4 Naresh Sharma
                        .toggle-item-body#toggle-item-body8(style='display: none;')
                          //- p.p1 Speaker:
                          //-   span.p2 Kapil Manchanda
                          //- p
                          //-   | This live coding session will reveal the inner secrets of how Angular.js works by attempting re-create a mini angular.js like framework from the ground up.  This will help gain better understanding on some of the guiding principles of angular.js.
                          //-   br
                          //-   |                         In this session, the participants will learn
                          //-   ul(style='list-style-type: circle;')
                          //-     li Creating a "Scope" api for two-way data-binding
                          //-     li Creating a DI container
                          //-     li Create the HTML Compilation process
                          //-     li Create simple directives from the scratch
                          //-     li Bootstrap the application

                  article.event
                    .timeline-icon
                      .timeline-icon-container
                        i.iconf-coffee
                    .time-box
                      time 4:30 PM
                    .timeline-content
                      .event-content
                        .toggle-item-title.event-title(data-count='1')
                          h3
                            | Tea Break
                            //- span Sponsored by JSChannel
                        .toggle-item-body#toggle-item-body9(style='display: none;')
                          p.p1 Tea/ Coffee/ light snacks
                  article.event
                    .timeline-icon
                      .timeline-icon-container
                        i.iconf-pencil2
                    .time-box
                      time 5:00 PM
                    .timeline-content
                      .event-content
                        .toggle-item-title.event-title(data-count='1')
                          h3 Keynote - Disrupting Engineering Execution at OYO
                          h4 Ajay Shrivastava
                        .toggle-item-body#toggle-item-body10(style='display: none;')
                          //- p.p1 Speaker:
                          //-   span.p2 Ajay Shrivastava
                  article.event
                    .timeline-icon
                      .timeline-icon-container
                        i.iconf-sun
                    .time-box
                      time 6:00 PM
                    .timeline-content
                      .event-content
                        .toggle-item-title.event-title(data-count='1')
                          h3 Lightning/Flash Talk
                        .toggle-item-body#toggle-item-body11(style='display: none;')
                          p.p1 JSChannel Team
                  //- article.event
                  //-   .timeline-icon
                  //-     .timeline-icon-container
                  //-       i.iconf-coffee
                  //-   .time-box
                  //-     time 6:30 PM
                  //-   .timeline-content
                  //-     .event-content
                  //-       .toggle-item-title.event-title(data-count='1')
                  //-         h3
                  //-           | Day 1 Summary and updates for Day 2
                  //-           //- span Sponsored by JSChannel
                  //-       .toggle-item-body(style='display: none;')
                  //-         p
                  //-           | Attendees submit their proposals on the day of the conference. Selected submissions come on stage for 5 mins to talk about the topic.
            #daytwo.tab-pane.wo-tab-pane.fade.in
              .span4
                h2 Second Day
                //- p
                //-   | We kick-off the day with keynote by Yehuda Katz. The structure of the day remains the same, except you get one hour with the speaker panel. You can ask anything/everything related to JavaScript. Don't loose this opportunity to learn from the likes of Doug, Yehuda, Joe and Christian
                //- //
                //-   <div class="schedule-download"><a href="#" class="btn coming-soon"><i class="iconf-acrobat"></i><p>Full Schedule</p></a>
                //-   </div>
              .span8
                section.timeline.toggle-shortcode.toggles
                  article.event
                    .timeline-icon
                      .timeline-icon-container
                        i.iconf-microphone
                    .time-box
                      time 9:00 AM
                    .timeline-content
                      .event-content
                        .toggle-item-title.event-title(data-count='1')
                          h3 Pre-Conference from Day 1

                        .toggle-item-body#toggle-item-body12(style='display: none;')
                          p.p1 JSChannel Team
                          //- p
                          //-   b Topic:
                          //-   |  Web Frameworks in 2015 and Where Ember Fits In
                  article.event
                    .timeline-icon
                      .timeline-icon-container
                        i.iconf-dialogue-box
                    .time-box
                      time 9:30 AM
                    .timeline-content
                      .event-content
                        .toggle-item-title.event-title(data-count='1')
                          h3 Opening Keynote
                          h4 Lea Verou
                        .toggle-item-body#toggle-item-body13(style='display: none;')
                          //- p.p1 Speaker:
                          //-   span.p2 Lea Verou
                          //- p
                          //-   | The new direction Angular 2.0 is taking created a lot of discussion in the community. Some people love it, some people hate it. Most people agree there is room for simplification, performance enhancements and native support of new language features. Not everyone likes the way Angular 2.0 is picking these up though. There is an alternative direction: Aurelia. In this talk, we'll do a side-by-side comparison and have the audience answer the question: Should you keep all your eggs in the Angular basket?
                  article.event
                    .timeline-icon
                      .timeline-icon-container
                        i.iconf-dialogue-box
                    .time-box
                      time 10:30 AM
                    .timeline-content
                      .event-content
                        .toggle-item-title.event-title(data-count='1')
                          h3 Webpack unpacked
                          h4 Pavithra Kodmad
                        .toggle-item-body#toggle-item-body14(style='display: none;')
                          p.p1 Webpack is the next generation tooling for the front end. It is a complex but highly effective bundler. In fact, the best I have seen up until now. This talk will be about explaining webpack philosophy, and deconstructing simple to complex bundling configurations. I will also touch upon webpack 2 and the new features it brings.
                  article.event
                    .timeline-icon
                      .timeline-icon-container
                        i.iconf-food
                    .time-box
                      time 11:15 AM
                    .timeline-content
                      .event-content
                        .toggle-item-title.event-title(data-count='1')
                          h3 Secure your Web Application - Best Practices
                          h4 Dheeraj Joshi
                            //- span Sponsored by JSChannel
                        .toggle-item-body#toggle-item-body15(style='display: none;')
                          p.p1 Are you one of the growing startup or want to improve your application security and make it more secure? Yes, you heard it right, after this talk, you should be able to make your web free from most of the vulnerabilities out there and identify loopholes in web applications.
                          //- p Enjoy the most exotic rich Indian cuisine prepared by chefs in Taj Vivanta.
                  article.event
                    .timeline-icon
                      .timeline-icon-container
                        i.iconf-pencil2
                    .time-box
                      time 12:00 PM
                    .timeline-content
                      .event-content
                        .toggle-item-title.event-title(data-count='1')
                          h3 Lunch Break
                          //- h4
                          //-   | Learn When & How to Leverage the Power of Virtual DOM & Reactive Data Flows
                          //-   span Live-coding/Workshop session by Christian Lilley
                        .toggle-item-body#toggle-item-body16(style='display: none;')
                          //- p
                          //-   | Whatever other tools you use and love, one thing about ReactJS is certain: the 'Virtual DOM' approach is the future of the web. It's just too fast and too sensible to ignore. In this session, we'll learn:
                          //-   ul
                          //-     li What 'Virtual DOM' is and why it matters
                          //-     li How you can begin making use of it now, in your existing environments
                          //-     li
                          //-       | How React also thinks differently about data-binding, with its "one-way reactive data flow"
                          //-   |                         Longer-Term, React combined with the 'Flux' pattern points the way to a very different style of front-end application development than we're used to now: very modular, 'component'-driven architectures. At the same time, one of the signal traits of React/Flux is that more and more of the application is contained exclusively in Javascript files: React's HTML elements are declared as either "JSX" templates, or just as Javascript objects. And some folks are taking this on to the next level, even programming all of their CSS in JS as well! Before this session is over, you'll see how all these pieces fit together and how you can build some very effective, very fast, and very maintainable components and apps this way. That said, we'll also discuss what's still missing from the React/Flux ecosystem, and provide you with a roadmap that allows you decide when you can - and when you can't - build your whole application around it.
                  article.event
                    .timeline-icon
                      .timeline-icon-container
                        i.iconf-pencil2
                    .time-box
                      time 1:30 PM
                    .timeline-content
                      .event-content
                        .toggle-item-title.event-title(data-count='1')
                          h3 Design Consciousness: How People and Companies Become More Aware of Design
                          h4 Dave Hoffer
                          //-   span Live coding/workshop session II by David Hoffer
                        .toggle-item-body#toggle-item-body17(style='display: none;')
                          //- p.p1 Speaker:
                          //-   span.p2 Dave Hoffer
                  article.event
                    .timeline-icon
                      .timeline-icon-container
                        i.iconf-pencil2
                    .time-box
                      time 1:30 PM
                    .timeline-content
                      .event-content
                        .toggle-item-title.event-title(data-count='1')
                          h3 Alternative control flow for React/Redux with ES7 Observable
                          h4 Charanjit Singh
                          //-   span Live coding/workshop session II by David Hoffer
                        .toggle-item-body#toggle-item-body18(style='display: none;')
                          p.p1 In this workshop we'll build a React app using Redux architecture. For a twist, we'll use ES7 Observable (via RxJS@5) for an arguably better, but definitely different flow of control in our app. React is the boat, redux is the oar, and we will sail in the waters of reactive programming with ES7 Observable. We'll see where React falls short in its "reactive" approach, we'll fill up the holes in Redux architectuer, and we'll tangentially touch an overall alternate approach to architect our apps without frameworks ('tangentially' being the keyword here.)


                  article.event
                    .timeline-icon
                      .timeline-icon-container
                        i.iconf-coffee
                    .time-box
                      time 4:00 PM
                    .timeline-content
                      .event-content
                        .toggle-item-title.event-title(data-count='1')
                          h3
                            | Tea Break
                            //- span Sponsored by JSChannel
                        .toggle-item-body#toggle-item-body19(style='display: none;')
                          p.p1 Tea/ Coffee/ light snacks
                  article.event
                    .timeline-icon
                      .timeline-icon-container
                        i.iconf-videocam
                    .time-box
                      time 5:00 PM
                    .timeline-content
                      .event-content
                        .toggle-item-title.event-title(data-count='1')
                          h3
                            | Ending Keynote: The History and Future of Web Forms
                          h4 Erik Rasmussen
                        .toggle-item-body#toggle-item-body20(style='display: none;')
                          //- p.p1 Speaker:
                          //-   span.p2 Erik Rasmussen
                          //- p.p1 Deta
                          //-   | Attendees have full 60 mins with the speakers. Its your time to ask any question to speakers.
                  article.event
                    .timeline-icon
                      .timeline-icon-container
                        i.iconf-microphone
                    .time-box
                      time 6:00 PM
                    .timeline-content
                      .event-content
                        .toggle-item-title.event-title(data-count='1')
                          h3 Closure and announcements
                          //- h4 Ending Keynote Speaker
                        .toggle-item-body#toggle-item-body21(style='display: none;')
                          p.p1 JSChannel Team
