#section1.container-fluid.section
  h1.text-center.heading-padding #JSCHANNELCONF2016
  .row.row-eq-height
    .col-md-1
    .col-md-6.col-sm-6.col-xs-12
      img.img-responsive(src='./images/background.jpg')
    .col-md-4.col-sm-6.col-xs-12
      h2 Two Days of Learning
      h3 16-17 July 2016, Bangalore
      p
        | Join us for an opportunity to learn and hear from the best brains in the industry.
      p
        strong Talks:
        |  Opportunity to hear from the stalwarts of the JS Community. A platform to learn, share and connect.
      p
        strong Workshops:
        |  Join us to learn and interact with professional JS trainers and experience live-coding sessions.
      p
        strong Fabulous Food:
        |  Enjoy sumptuous cuisine prepared by one of the best restaurant in Bengaluru.
      p
        strong Venue:
        |  The Hotel Bangalore, Bangalore, Karnataka
    .col-md-1
.container-fluid.section.ticket-margin
  .text-center.heading-padding
    h1 BUY TICKETS
    p
      | Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes
  .row.container-ticket
    .col-md-2.col-sm-4.col-xs-8.ticket-border.text-center
      .ticket-top SUPER EARLY BIRD
      h3.text-red ₹ 3000
      p
        | No. of tickets:
        span.text-red 80
      p
        | 29
        sup th
        | JAN - 09
        sup th
        | FEB
      .ticket-bottom BUY Tickets
    .col-md-2.col-sm-4.col-xs-8.ticket-border.text-center
      .ticket-top EARLY BIRD
      h3.text-red ₹ 4000
      p
        | No. of tickets:
        span.text-red 100
      p
        | 9
        sup th
        | FEB - 28
        sup th
        | FEB
      .ticket-bottom BUY Tickets
    .col-md-2.col-sm-4.col-xs-8.ticket-border.text-center
      .ticket-top JS ENTHUSIAST
      h3.text-red ₹ 6000
      p
        | No. of tickets:
        span.text-red 170
      p
        | 28
        sup th
        | FEB - Consumed
      .ticket-bottom BUY Tickets
    .col-md-2.col-sm-4.col-xs-8.ticket-border.text-center
      .ticket-top LATE ARRIVALS
      h3.text-red ₹ 7500
      p
        | No. of tickets:
        span.text-red 100
      p
        | 28
        sup th
        | MAR - Consumed
      .ticket-bottom BUY Tickets
