#about.container-fluid.sectionOne
	.container
		h1.text-center.heading-size #JSCHANNELCONF2016
		.row.white-background
			.col-md-6.col-sm-6.col-xs-12
				img.img-responsive(src='./images/JSChannelConf2016.jpg')
			.col-md-6.col-sm-6.col-xs-12
				div
					h2.subheading-size1
						strong Two Days of Learning!
					h3.subheading-size2 15-16 July 2016, Bangalore
					.container-text
						p
							| Join us for an opportunity to learn and hear from the best brains in the industry.
						p
							strong Talks:
							|  Opportunity to hear from the stalwarts of the JS Community. A platform to learn, share and connect.
						p
							strong Workshops:
							|  Join us to learn and interact with professional JS trainers and experience live-coding sessions.
						p
							strong Fabulous Food:
							|  Enjoy sumptuous cuisine prepared by one of the best restaurant in Bengaluru.
						p
							strong Venue:
							|  The Ritz-Carlton, Bangalore, Karnataka
#tickets.container-fluid.sectionOne
	.container
		h1.text-center.heading-size BUY TICKETS
		.row.ticket-list
			.col-md-3.col-sm-6.col-xs-12
				.ticket-container.text-center
					h2.ticket-top SUPER EARLY BIRD
					.text-red.price-size ₹ 3000
					.ticket-no
						p
							| No. of tickets:
							span.no-text.text-red 80
						//p
							| 29
							sup th
							| JAN - 09
							sup th
							| FEB
					a(href='https://www.townscript.com/e/jschannel2016', target='_blank')
						h2.ticket-bottom.ticket-bottom-active BUY Tickets
			.col-md-3.col-sm-6.col-xs-12
				.ticket-container.text-center
					h2.ticket-top EARLY BIRD
					.text-red.price-size ₹ 4000
					.ticket-no
						p
							| No. of tickets:
							span.no-text.text-red 100
						//p
							| 9
							sup th
							| FEB - 28
							sup th
							| FEB
					h2.ticket-bottom.ticket-bottom-inactive BUY Tickets
			.col-md-3.col-sm-6.col-xs-12
				.ticket-container.text-center
					h2.ticket-top JS ENTHUSIAST
					.text-red.price-size ₹ 6000
					.ticket-no
						p
							| No. of tickets:
							span.text-red.no-text 200
						//p
							| 28
							sup th
							| FEB -Consumed
					h2.ticket-bottom.ticket-bottom-inactive BUY Tickets
			.col-md-3.col-sm-6.col-xs-12
				.ticket-container.text-center
					h2.ticket-top LATE ARRIVAL
					.text-red.price-size ₹ 8000
					.ticket-no
						p
							| No. of tickets:
							span.text-red.no-text 100
						//p
							| TBD
					h2.ticket-bottom.ticket-bottom-inactive BUY Tickets
