#speakers.container-fluid.section.speakers
  .container
    .text-center.speaker-head 2016 SPEAKERS
    .text-center.speaker-body.clearfix
    .row
      .col-xs-12.col-sm-8.col-sm-offset-2.col-md-4.col-md-offset-0
        .speaker-image1.speaker-image
          .caption-1
            h3 ERIK RASMUSSEN
            p CREATOR OF REDUX FORM AND THE DUCKS
      .col-xs-12.col-sm-8.col-sm-offset-2.col-md-4.col-md-offset-0
        .speaker-image2.speaker-image
          .caption-1
            h3 JOE PETTERSSON
            p UI ENGINEERING AT MCKINSEY & COMPANY
      .col-xs-12.col-sm-8.col-sm-offset-2.col-md-4.col-md-offset-0
        .speaker-image3.speaker-image
          .caption-1
            h3 SATTY BHENS
            p DIGITAL PRINCIPAL AT MCKINSEY DIGITAL LABS
    .row
      .col-xs-0.col-sm-0.col-md-4
      .col-xs-12.col-sm-8.col-sm-offset-2.col-md-4.col-md-offset-0
        .speaker-image4.speaker-image
          .caption-1
            h3 Want to be Speaker
            a(href='http://goo.gl/forms/jseQIw8Y2H', target='_blank').speaker-link
      .col-xs-0.col-sm-0.col-md-4
