#speakers.container-fluid.section.speakers
  .container.speaker-container
    .text-center.speaker-head 2016 SPEAKERS
    .text-center.speaker-body.clearfix
    .row.row-fix
      .col-xs-8.col-xs-offset-2.col-sm-8.col-sm-offset-2.col-md-4.col-md-offset-0
        .speaker-image5.speaker-image
          .caption-1
            h3 YEHUDA KATZ
            p OPEN SOURCE EVAGELIST, CO-FOUNDER TILDE INC.
      .col-xs-8.col-xs-offset-2.col-sm-8.col-sm-offset-2.col-md-4.col-md-offset-0
        .speaker-image6.speaker-image
          .caption-1
            h3 LEA VEROU
            p  DOING RESEARCH IN HUMAN-COMPUTER INTERACTION, MIT CSAIL.
      .col-xs-8.col-xs-offset-2.col-sm-8.col-sm-offset-2.col-md-4.col-md-offset-0
        .speaker-image3.speaker-image
          .caption-1
            h3 SATTY BHENS
            p DIGITAL PRINCIPAL AT DIGITAL MCKINSEY
      .col-xs-8.col-xs-offset-2.col-sm-8.col-sm-offset-2.col-md-4.col-md-offset-0
        .speaker-image1.speaker-image
          .caption-1
            h3 ERIK RASMUSSEN
            p CREATOR OF REDUX FORM AND THE DUCKS
      .col-xs-8.col-xs-offset-2.col-sm-8.col-sm-offset-2.col-md-4.col-md-offset-0
        .speaker-image8.speaker-image
          .caption-1
            h3 DAVE HOFFER
            p DESIGN DIRECTOR AT DIGITAL MCKINSEY
      .col-xs-8.col-xs-offset-2.col-sm-8.col-sm-offset-2.col-md-4.col-md-offset-0
        .speaker-image2.speaker-image
          .caption-1
            h3 Farhad Ghayour
            p UI EXPERT AT DIGITAL MCKINSEY
      .col-xs-8.col-xs-offset-2.col-sm-8.col-sm-offset-2.col-md-4.col-md-offset-0
        .speaker-image4.speaker-image
          .caption-1
            h3 AJAY SHRIVASTAVA
            p VP-ENGINEERING AND CHIEF CULTURE AMBASSADOR AT OYO
      .col-xs-8.col-xs-offset-2.col-sm-8.col-sm-offset-2.col-md-4.col-md-offset-0
        .speaker-image7.speaker-image
          .caption-1
            h3 CHARANJIT SINGH
            p SOFTWARE CONSULTANT
      .col-xs-8.col-xs-offset-2.col-sm-8.col-sm-offset-2.col-md-4.col-md-offset-0
        .speaker-davekerr.speaker-image
          .caption-1
            h3 Dave Kerr
            p DIGITAL EXPERT AT DIGITAL MCKINSEY
      .col-xs-8.col-xs-offset-2.col-sm-8.col-sm-offset-2.col-md-4.col-md-offset-0
        .speaker-vagmi.speaker-image
          .caption-1
            h3 Vagmi Mudumbai
            p CTO TARKALABS
      .col-xs-8.col-xs-offset-2.col-sm-8.col-sm-offset-2.col-md-4.col-md-offset-0
        .speaker-nareshkumar.speaker-image
          .caption-1
            h3 Naresh Kumar
            p DIGITAL TECHNOLOGY SPECIALIST AT DIGITAL MCKINSEY
      .col-xs-8.col-xs-offset-2.col-sm-8.col-sm-offset-2.col-md-4.col-md-offset-0
        .speaker-dheerajJ.speaker-image
          .caption-1
            h3 Dheeraj Joshi
            p FE ARTISAN AT WINGIFY
      .col-xs-8.col-xs-offset-2.col-sm-8.col-sm-offset-2.col-md-4.col-md-offset-0
        .speaker-pavithra.speaker-image
          .caption-1
            h3 Pavithra Kodmad
            p JS DEVELOPER AT FLIPKART
      .col-xs-0.col-sm-0.col-md-4
