.section.speakers
  div.text-center.speaker-head 2016 SPEAKERS
  div.text-center.speaker-body.clearfix
    div.col-md-4.col-sm-12.col-xs-12
      div.speaker
        img(src= "../images/speaker1.jpg").speaker-img.img-responsive
        div.caption
          p.text-center.speaker-title DOUGLAS CROCKFORD
          p.speaker-info DISCOVERED JSON AND WORKS AT PAYPAL
    div.col-md-4.col-sm-12.col-xs-12
      div.speaker
        img(src= "../images/speaker2.jpg").speaker-img.img-responsive
        div.caption
          p.speaker-title DOUGLAS CROCKFORD
          p.speaker-info DISCOVERED JSON AND WORKS AT PAYPAL   
    div.col-md-4.col-sm-12.col-xs-12
      div.speaker
        img(src= "../images/speaker3.jpg").speaker-img.img-responsive
        div.caption
          p.speaker-title DOUGLAS CROCKFORD
          p.speaker-info DISCOVERED JSON AND WORKS AT PAYPAL
  div.speaker-foot
