#speakers.speakers-section.text-center
  h1 SPEAKERS
  p.sub-heading  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et sapiente rerum molestiae illum facere, velit qui officiis nostrum vel? Omnis impedit doloribus eos odio facere alias dolorum blanditiis adipisci unde.
  .row.row-fix
    .col-md-3.col-sm-3.col-xs-12.speakers-items
        .inner-container.flip-container
          .flipper
            .image-text-container.front
              img(src="../images/speaker-1.jpg", alt="")
              .name ERIC RASMUSSEN
              .profile Creator of Redux Form and the Ducks
            .image-text-container.back
              .back-content
                h3 ERIC RASMUSSEN
                p Creator of Redux Form and the Ducks
                ul
                  li.back-circle
                    a(href="")
                      i.fa.fa-facebook.fa-inverse
                  li.back-circle
                    a(href="")
                      i.fa.fa-twitter.fa-inverse
                  li.back-circle
                    a(href="")
                      i.fa.fa-linkedin.fa-inverse
    .col-md-3.col-sm-3.col-xs-12.speakers-items
        .inner-container.flip-container
          .flipper
            .image-text-container.front
              img(src="../images/speaker-2.jpg", alt="")
              .name JOE PETTERSSON
              .profile Ui Engineering at McKinsey & Company
            .image-text-container.back
              .back-content
                h3 JOE PETTERSSON
                p Ui Engineering at McKinsey & Company
                ul
                  li.back-circle
                    a(href="")
                      i.fa.fa-facebook.fa-inverse
                  li.back-circle
                    a(href="")
                      i.fa.fa-twitter.fa-inverse
                  li.back-circle
                    a(href="")
                      i.fa.fa-linkedin.fa-inverse
    .col-md-3.col-sm-3.col-xs-12.speakers-items
        .inner-container.flip-container
          .flipper
            .image-text-container.front
              img(src="../images/speaker-3.jpg", alt="")
              .name SATTY BHENS
              .profile Digital Principal At McKinsey Digital Labs
            .image-text-container.back
              .back-content
                h3 SATTY BHENS
                p Digital Principal At McKinsey Digital Labs
                ul
                  li.back-circle
                    a(href="")
                      i.fa.fa-facebook.fa-inverse
                  li.back-circle
                    a(href="")
                      i.fa.fa-twitter.fa-inverse
                  li.back-circle
                    a(href="")
                      i.fa.fa-linkedin.fa-inverse
    .col-md-3.col-sm-3.col-xs-12.speakers-items
        .inner-container.flip-container
          .flipper
            .image-text-container.front
              img(src="../images/speaker-4.jpg", alt="")
              .name AJAY SHRIVASTAVA
              .profile VP-Engineering and Chief Culture Ambassador at OYO
            .image-text-container.back
              .back-content
                h3 AJAY SHRIVASTAVA
                p VP-Engineering and Chief Culture Ambassador at OYO
                ul
                  li.back-circle
                    a(href="")
                      i.fa.fa-facebook.fa-inverse
                  li.back-circle
                    a(href="")
                      i.fa.fa-twitter.fa-inverse
                  li.back-circle
                    a(href="")
                      i.fa.fa-linkedin.fa-inverse
    a.btn.speaker-button(href="")
        i.fa.fa-chevron-circle-right
        | SEE ALL SPEAKERS
  //- #box
  //-   #overlay
  //-     span#plus +
  //- .flip-container(ontouchstart="this.classList.toggle('hover');")
  //-   .flipper
  //-     .front
  //-       p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus vero, excepturi fugit necessitatibus dicta laborum inventore quae libero quasi at illo dolore voluptatibus voluptas voluptates tempora impedit debitis repellendus adipisci.
  //-     .back
  //-       p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus vero, excepturi fugit necessitatibus dicta laborum inventore quae libero quasi at illo dolore voluptatibus voluptas voluptates tempora impedit debitis repellendus adipisci.
  //-       p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus vero, excepturi fugit necessitatibus dicta laborum inventore quae libero quasi at illo dolore voluptatibus voluptas voluptates tempora impedit debitis repellendus adipisci.

