.container-fluid.section.speakers#speakers
	.container
		div.text-center.speaker-head 2016 SPEAKERS
		div.text-center.speaker-body.clearfix
		.row
			.col-xs-12.col-sm-12.col-md-4
				.speaker-image1.speaker-image
					.caption-1
						h3 ERIK RASMUSSEN
						p CREATOR OF REDUX FORM AND THE DUCKS
			.col-xs-12.col-sm-12.col-md-4
				.speaker-image2.speaker-image
					.caption-1
						h3 JOE PETTERSSON
						p UI ENGINEERING AT MCKINSEY & COMPANY
			.col-xs-12.col-sm-12.col-md-4
				.speaker-image3.speaker-image
					.caption-1
						h3 SATTY BHENS
						p DIGITAL PRINCIPAL AT MCKINSEY DIGITAL LABS
