section.section
  .container-fluid.sponser-container#sponser
    .sponser
      .row
        .col-md-12.col-sm-12.col-xs-12
          .sponser-heading.center SPONSORS
          .sponser-subheading.center Sponsers play a major role in the success of an event.
      .row
        .sponser-logo.text-center
          ul
            li
              img.sponser-image.partner-mckinsey(src='../images/partner3.svg')
            li
              a(href="http://tarkalabs.com/" target="_blank")
                img.sponser-image.partner-tarka(src='../images/tarkalabs.png')
