.team-section#gallery
  .container.team-container
    h1 OUR TEAM
    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda ratione aperiam at, perspiciatis suscipit iusto molestias fugit necessitatibus.
    .row
      .col-md-3.col-sm-6.team-items
        img(src="../images/img.png", alt="")
        .name Amit Kumar
        .profile Digital Expert
      .col-md-3.col-sm-6.team-items
        img(src="../images/img.png", alt="")
        .name Amit Anand
        .profile Digital Engagement Manager
      .col-md-3.col-sm-6.team-items
        img(src="../images/img.png", alt="")
        .name Naresh Sharma
        .profile Digital Consultant
      .col-md-3.col-sm-6.team-items
        img(src="../images/img.png", alt="")
        .name Suman Paul
        .profile Senior Digital Analyst
    a.btn.meet-button(href="https://www.youtube.com/watch?v=PNS2bDUXcCM&list=PLE7tQUdRKcybsEAqkwDahsj05YyIcXXW4",target="_blank")
      i.fa.fa-chevron-circle-right.fa-inverse
      | MEET OUR TEAM
