.section
  div.md-col-12
    div.venue-image.text-center
      h2.venue-head VENUE
      div.venue-body THE RITZ-CARLTON HOTEL
      h2.venue-foot BANGALORE, KARNATAKA
.section
  div
    iframe(src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJM-8dtHgWrjsRf8ioCwDoiv4&key=AIzaSyAXzTLtgdEAXsv7uYZSPl3h3XSBVCwY_v8").map
