.container-fluid.venue-container(data-toggle="collapse",data-target="#navbar")
    .section#venue
      div.md-col-12
        div.venue-image.text-center
          h2.venue-head VENUE
          div.venue-body THE RITZ-CARLTON HOTEL
          h2.venue-foot BANGALORE, KARNATAKA
          br
          br
          br
    .section
      div#map
