.about-us-container {
    background: #D1D1D1 url(../images/logo-about.png);
    background-repeat: no-repeat, repeat;
    padding: 40px 100px;
    background-size: 95%;
    // opacity: .2;
    background-position-x: 45%;
    background-position: center;
    p {
        font-size: 18px;
    }
    .sub-text {
        margin-top: 20px;
    }
    .about-read-more-button {
        margin: 0 auto;
        border: 1px solid #000000;
        padding: 12px 25px;
        border-radius: 5px;
        margin-top: 50px;
        color: #000000;
        font-size: 16px;
    }
    .fa-chevron-circle-right {
        margin-right: 10px;
        font-size: 24px;
        vertical-align: middle;
    }
}

.full-about-us-container {
    padding: 7% 6% 4% 6%;
    background-color: #EDEFEC;
    .subtext {
        margin-bottom: 15px;
        font-size: 16px;
    }
    .about-blocks {
        margin-top: 20px;
        margin-bottom: 20px;
        .block {
            background-color: #D4EA85;
            height: 180px;
        }
        .block-detail {
            padding-top: 40px;
            font-size: 16px;
        }
        .block-detail-2 {
            padding-top: 20px;
            font-size: 16px;
        }
    }
}

.full-team-section {
    // background-color: #111B28;
    padding-top: 30px;
    padding-bottom: 30px;
    // color: #ffffff;
    p {
        font-size: 18px;
    }
    .team-items {
        text-align: center;
        margin-top: 30px;
        .inner-container {
            background-color: #ffffff;
            box-shadow: 0 0.0625em 0.1875em 0 rgba(0, 0, 0, 0.1), 0 0.5em 0 -0.25em #ffffff, 0 0.5em 0.1875em -0.25em rgba(0, 0, 0, 0.1), 0 1em 0 -0.5em #ffffff, 0 1em 0.1875em -0.5em rgba(0, 0, 0, 0.1);
            // position: relative;
            .image-text-container {
                padding: 5px;
                img {
                    position: relative;
                    width: 100%;
                    // border-radius: 50%;
                    // margin-bottom: 15px;
                    // margin-top: 25px;
                }
                .name {
                    position: relative;
                    bottom: 28px;
                    font-size: 20px;
                    font-weight: 500;
                    text-align: center;
                    /* width: 83%; */
                    background: rgba(0, 0, 0, 0.4);
                    // padding: 5px 0px 0px 0px;
                    color: white;
                }
            }
        }
        .profile {
            font-size: 13px;
            font-weight: 700;
            font-style: italic;
            margin-top: -27px;
            padding-bottom: 8px;
        }
    }
    .meet-button {
        margin: 0 auto;
        border: 1px solid #ffffff;
        padding: 12px 25px;
        border-radius: 5px;
        margin-top: 50px;
        color: #ffffff;
        font-size: 16px;
    }
    .fa-chevron-circle-right {
        margin-right: 10px;
        font-size: 20px;
        vertical-align: middle;
    }
}

@media screen and (max-width: 1024px) {
    .full-about-us-container {
        h4 {
            font-size: 16px;
        }
    }
}

@media screen and (max-width: 414px) {
    .about-us-container {
        padding: 40px;
    }
    .full-about-us-container {
        padding: 15% 6% 12% 6%;
        h4 {
            font-size: 18px;
        }
    }
}
