.contact-container {
    background-color: #111B28;
    color: #ffffff;
    font-size: 16px;
    padding: 20px;
    margin-top: -1px;
    .sub-heading {
        margin-bottom: 25px;
    }
    .contact-details {
        font-size: 18px;
    }
}
