$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss";
@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins/_clearfix.scss";
@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins/_grid-framework.scss";
@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins/_center-block.scss";
@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins/_nav-vertical-align.scss";
@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins/_grid.scss";
@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins/_vendor-prefixes.scss";
@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins/_tab-focus.scss";
@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins/_forms.scss";
@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins/_border-radius.scss";
@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins/_buttons.scss";
@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins/_image.scss";
@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins/_opacity.scss";
@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins/_nav-divider.scss";
@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins/_text-emphasis.scss";
@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins/_text-overflow.scss";
@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins/_hide-text.scss";
@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins/_background-variant.scss";
@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins/_responsive-visibility.scss";
@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_forms.scss";
@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_normalize.scss";
@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_grid.scss";
@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_navbar.scss";
@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_type.scss";
@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_navs.scss";
@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_utilities.scss";
@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_scaffolding.scss";
@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_responsive-embed.scss";
@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_responsive-utilities.scss";
@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_modals.scss";
@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_buttons.scss";
@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_component-animations.scss";
@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_close.scss";
@import "bower_components/font-awesome/scss/font-awesome.scss";
// endbower
@import "../styles/global.scss";
@import "../styles/teaserMedia.scss";
@import "../styles/teaserView.scss";
@import "../styles/secondView.scss";
@import "../styles/speakers.scss";
@import "../styles/thirdView.scss";
@import "../styles/footer.scss";
@import "../styles/venue.scss";
@import "../styles/partner.scss";
@import "../styles/schedule.scss";
@import "../styles/sponser.scss";
