$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
<<<<<<< HEAD
// endbower
//@import "styles/teaserMedia.scss";
//@import "styles/teaserView.scss";
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}


//reset input

.input {
  border: none;
  outline: none;
  background: white;
  color: black;
}
.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.bold {
  font-weight: 800;
}

.semibold {
  font-weight: 500;
}

.f65 {
  font-size: 65px;
}

.f30 {
  font-size: 30px;
}

.no-float {
  float: none;
}

.f14 {
  font-size:14px;
}

.display-inline {
  display: inline-block;
}

.nopadding {
  padding:0px;
}

.padding10 {
  padding:10px;
}

.voffset4 {
  padding-top:4vh;
}

.white-border {
  border:1px solid white
}

.ghost-button {
  background-color:transparent;
}

.white {
  color:white;
}





/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) and (max-device-width: 480px) {
  .body-tag {
    .f65 {
      font-size: 40px;
    }
    .f30 {
      font-size: 20px;
    }
    .teaser-container {
      padding-top: 25vh;
      .left-wrapper,
      .right-wrapper {
        text-align: center;
        display: block;
        padding: 0;
      }
      .left-wrapper {
        padding-bottom: 10px;
        :after {
          display: none;
        }
      }
      .right-wrapper {
        margin: 0px 55px;
        padding-top: 5px;
        border-top: 1px solid white;
      }
      .email-submit {
        margin-top: 2vh;
      }
      .email-input {
        text-align: center;
      }
      .bottom-wrapper {
        .icon-style {
          display: inline-block;
        }
        .social-wrapper, .previous-wrapper {
          text-align: center;
          padding: 0;
        }
      }
    }
  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}
/* Small Devices, Tablets */
@media only screen and (min-width : 768px) and (orientation : portrait) {
  .body-tag {
    .teaser-container {
      .left-wrapper,
      .right-wrapper {
        text-align: center;
        display: block;
        padding: 0;
      }
      .left-wrapper {
        padding-bottom: 25px;
      }
      .right-wrapper {
        margin: 0 235px;
        padding-top: 20px;
        border-top: 1px solid white;
      }
    }
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}



.body-tag {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
}
.teaser-container {
  background: url("../images/background.jpg") center no-repeat fixed;
  background-size: cover;
  color: white;
  height: 100vh;
  padding: 2vh 0 5vh;
  position: relative;
  .notification-txt {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    padding: 20px;
    animation: showNav 300ms ease-in-out both;
  }
  .left-wrapper {
    position: relative;
    line-height: 1.2;
    padding-right: 20px;
    text-align: right;
     :after {
      content: '';
      height: 80%;
      width: 1px;
      position: absolute;
      right: 0;
      top: 10%;
      background-color: white;
    }
  }
  .right-wrapper {
    text-align: left;
    padding: 15px;
    vertical-align: top;
  }
  .email-submit:active,
  .email-submit:hover {
    background-color: rgba(255, 255, 255, 0.68);
    color: #562A72;
    transition: background 0.5s;
  }
  .bottom-wrapper {
    position: absolute;
    bottom: 0;
    padding-bottom: 15px;
    .previous-wrapper {
      text-align: left;
    }
    .social-wrapper {
      text-align: right;
      .icon-style {
        font-size: 2em;
      }
      .facebook:hover {
        color: rgb(59,89,150);
      }
      .twitter:hover {
        color: #08c;
      }
      .linkedin:hover {
        color: rgb(11,123,182);
      }
      .youtube:hover {
        color: rgb(203,50,44);
      }
    }
  }
}
@keyframes showNav {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.center{
  text-align: center;
}

  .caption {
        width:100%;
        bottom: 0rem;
        left:0rem;
        position: absolute;
        background:rgba(255, 71, 26, 0.7);
        visibility: hidden;
    }

    .thumbnail {
        border: 0 none;
        box-shadow: none;
        margin:0;
        padding:0;
    }

    .caption h4 {
        color: #fff;
    }
    .sponser-button{
    background-color:rgb(255, 71, 26);
    border-raduis:0px;
    }
    .gallery{
      background: rgba(211,211,211,0.9);
      height: 80vh;
    }
    .gallery-image:hover .caption{
      visibility: visible;
    }
    .gallery-image
    {
    margin:2vh;
    }
    .gallery-image1{
      background: url(/images/images.jpg);
      height: 30vh;
      width:110vh;
      background-size: 60vw;
    }
    .gallery-image2{
      background: url(/images/images.jpg);
      height: 30vh;
      width:50vh;
      
    }
    .gallery-image3{
      background: url(/images/images.jpg);
      height: 30vh;
      width:52vh;
    }
    .gallery-image4{
      background: url(/images/images.jpg);
     height: 30vh;
      width:52vh;
    }
    .gallery-image5{
      background: url(/images/images.jpg);
      height: 30vh;
     width:52vh;
     }
=======
@import "bower_components/fullpage.js/jquery.fullPage.scss";
// endbower
@import "../styles/global.scss";
@import "../styles/teaserMedia.scss";
@import "../styles/teaserView.scss";
>>>>>>> 67e05ffde1857d484086e85b857f61d2449deb6d
