
.sectionOne {
  background-color:$light-grey-background;
  a{
    color:#333;
    text-decoration: none;
    cursor: pointer;
  }
}
.white-background {
  background-color:white;
}
.container-text {
  font-size: 14pt;
}
.ticket-container {
  p{
    color:rgb(121,121,121)
  }
  border: 1px solid #ec471f;
  margin: 15px;
  color: #3a3a3a;
  .price-size{
    font-size: 25pt;
    padding: 20px;
  }
  .ticket-top {
    background-color: lightgrey;
    padding: 10px 0px 10px 0px;
    margin: 0%;
    font-weight:400;
    font-size:17pt;
  }
  .ticket-no {
    font-size: 15pt;
    padding: 0px 0px 20px 0px;
  }
  .text-red {
  color: #ec471f;
}
  .ticket-bottom {
    background-color: rgb(112,112,112);
    padding: 10px;
    margin: 0%;
    color:white;
    font-size:17pt;
  }
  .ticket-bottom:hover {
    background-color:$orange;
    color:white;
  }
}
h1 {
  font-weight:400;
  padding:50px 0px;
}
