.speakers{
  background-color: #D3D3D3;
}

.speaker-head{
  font-style: normal;
  font-size: 3em;
  padding-top: 0.8em;
  padding-bottom: 1.4em;
  font-weight: 500;
  background-color: #D3D3D3;
}

.speaker-body{
  padding: 0;
  margin: 0;
}

.speaker-img{
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

.speaker-title{
  font-family: proxima-nova-bold;
  font-size: 20pt;
  padding: 0;
  margin: 0;
}

.speaker-info{
  font-family: proxima-nova-regular;
  font-size: 10pt;
  padding: 0;
  margin: 0;
}


.caption{
  width: 100%;
  color: #fff;
  bottom: 0rem;
  position: absolute;
  background-color: #EC471F;
  visibility: hidden;
  opacity: 0.7;
}

.speaker{
  margin: 0;
}

.speaker:hover .caption{
  visibility: visible;
}

.speaker-foot{
  background-color: #D3D3D3;
  padding-bottom: 3em;
}
