.sponser {
  width: 100%;
  &-container {
    margin: 0;
    background: rgb(237,239,236);
    padding: 0 0 5vh;
  }
  &-heading {
    padding: 1vh;
    font-size: 3em;
  }
  &-subheading {
    font-size: 1.5em;
    margin-bottom: 25px;
  }
  &-mckinsey {
    height: 3vh;
  }
}
@media (max-width: 1000px) {
  .partner-mckinsey {
    margin-top: 20px;
    height: 3vh;
  }
}
