$orange:#ec4715;
.sponser {
  width: 100%;
  &-container {
    margin: 0;
    background: rgb(237,239,236);
    padding: 3vh 0 10vh;
  }
  &-heading {
    padding: 1vh;
    font-size: 3em;
  }
  &-subheading {
    font-size: 1.5em;
    margin-bottom: 25px;
  }
  &-mckinsey {
    height: 3vh;
  }
  &-button{
    border: none;
    color: white;
    padding: 10px 30px 10px 30px;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    background-color:$orange;
  }
  &-button>a{
    color:white;
    text-decoration:none;
  }
  &-button:hover{
    background-color:rgb(240,108,68);
  }
  &-logo {
    li {
      list-style: none;
      display: inline-block;
      margin-right: 20px;
      .partner-tarka {
        height: 5vh;
      }
      .partner-tcs {
        height: 8vh;
      }
    }
  }
}
