/* Custom, iPhone Retina */
@mixin bottom-buttons {
  border-radius: 0;
  margin: 1em;
  padding: 1em;
  width: 15em;
  background: transparentize(#000, 0.2);
  color: #fff;
  border: 1px solid #CA442C;
  text-transform: uppercase;
}

@mixin font-nova($font-size) {
  font-size: $font-size;
  font-family: proxima-nova, sans-serif;
  text-transform: uppercase;
}

@media only screen and (min-width : 320px) and (max-device-width: 480px) {
  .body-tag {
    .f65 {
      @include font-nova(40px);
    }
    .f30 {
      @include font-nova(20px);
    }
    .teaser-container {
      .left-wrapper,
      .right-wrapper {
        text-align: center;
        display: block;
        padding: 0;
        position: static;
      }
      .left-wrapper {
        padding-bottom: 10px;
         :after {
          display: none;
        }
      }
      .right-wrapper {
        margin: 0 55px;
        padding-top: 5px;
        border-top: 1px solid white;
      }
      .email-submit {
        margin-top: 2vh;
      }
      .email-input {
        text-align: center;
      }
      .bottom-wrapper {
        .icon-style {
          display: inline-block;
        }
        .social-wrapper,
        .previous-wrapper {
          text-align: center;
          padding: 0;
        }
      }
    }

    .buy-tickets {
      padding: 1em 1em 1em;
      .buy-tickets__button {
        border-radius: 0;
        width: 20em;
        padding: 1em;
        color: #fff;
        background-color: #CA442C;
      }
    }

    .button-group {
      .recap {
        @include bottom-buttons;
      }
      .submit-talk {
        @include bottom-buttons;
      }
      .sponsor {
        @include bottom-buttons;
      }
    }
  }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) and (max-device-width: 768px) {
  .body-tag{
    .teaser-container {
      // .menu {
      //     position:relative;
      //     display:inline-block;
      // }
      //
      // .menu ul.active {
      //     display:none;
      // }
      //
      // .menu ul {
      //     width:100%;
      //     position:absolute;
      //     top:120%;
      //     left:0px;
      //     padding:10px 18px;
      //     box-shadow:0px 1px 1px rgba(0,0,0,0.15);
      //     border-radius:3px;
      //     background:#303030;
      // }
      //
      // .menu ul:after {
      //     width:0px;
      //     height:0px;
      //     position:absolute;
      //     top:0%;
      //     left:22px;
      //     content:'';
      //     transform:translate(0%, -100%);
      //     border-left:7px solid transparent;
      //     border-right:7px solid transparent;
      //     border-bottom:7px solid #303030;
      // }
      //
      // .menu li {
      //     margin:5px 0px 5px 0px;
      //     float:none;
      //     display:block;
      // }
      //
      // .menu a {
      //     display:block;
      // }
      //
      // .toggle-nav {
      //     padding:20px;
      //     float:left;
      //     display:inline-block;
      //     box-shadow:0px 1px 1px rgba(0,0,0,0.15);
      //     border-radius:3px;
      //     background:#303030;
      //     text-shadow:0px 1px 0px rgba(0,0,0,0.5);
      //     color:#777;
      //     font-size:20px;
      //     transition:color linear 0.15s;
      // }
      //
      // .toggle-nav:hover, .toggle-nav.active {
      //     text-decoration:none;
      //     color:#66a992;
      // }
    }
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}
/* Small Devices, Tablets */
@media only screen and (min-width : 768px) and (orientation : portrait) {
  .body-tag {
    .teaser-container {



      .left-wrapper,
      .right-wrapper {
        text-align: center;
        display: block;
        padding: 0;
      }
      .left-wrapper {
        padding-bottom: 25px;
      }
      .right-wrapper {
        margin: 0 235px;
        padding-top: 20px;
        border-top: 1px solid white;
      }
    }
  }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}
