
$orange:#ec4715;
$light-orange:rgb(240,108,68);
$light-grey-background:rgb(237,239,236);
.body-tag {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
}
.teaser-container {
  background: rgba(0,0,0,0.6);
  background: url(../images/background.jpg) center no-repeat fixed;
  background-size: cover;
  color: white;
  height: 100vh;
  position: relative;
  .nav-custom {
    background-color:transparent;
    border-color:transparent;
    text-transform: uppercase;
    .navbar-logo {
      transform: scale(2,2);
      margin-left: 100px;
    }
    ul {
      float:right;
      li > a{
      color:white;
      font-weight: bold;
      }
      li > a:hover {
        color:$orange;
      }
    }
    .toggle-nav {
      display: none;
    }
  }
  .left-wrapper {
    position: relative;
    line-height: 1.2;
    padding-right: 20px;
    text-align: right;
    .center-logo-div {
      .center-logo {
        right: -50px;
      }
    }
     :after {
      content: '';
      height: 85%;
      width: 1px;
      position: absolute;
      right: 0;
      top: 10%;
      background-color: white;
    }
    .orange {
      color:$orange;
    }
  }
  .right-wrapper {
    text-align: left;
    padding: 15px;
    vertical-align: text-bottom;
    font-family: proxima-nova-regular, sans-serif;
    text-transform: uppercase;
    sup {
      font-size: 0.5em;
      top: -0.7em;
    }
  }
  .buy-btn {
      background-color:$orange;
      padding:20px 0px;
      border:1px solid white;
      border-radius:0px;
      width: 60%;
      font-size: 12pt;
    }
  .buy-btn:hover {
    background-color:$light-orange;
    color:white;
  }
  .ghost-btn {
    background-color: rgba(0,0,0,0.7);
    border-color:$orange;
    border-radius:0px;
    color: inherit;
    //right: 5%;
    width: 100%;
    padding: 15px 10px;
    .play-btn {
      padding-left: 10px;
    }
  }
  .ghost-btn:hover {
    background-color: $orange;
    border-color: white;
    color: white;
  }
}
.button-margin {
  margin: 0px;
}
@keyframes showNav {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@media (max-height: 750px) and (max-width: 950px) {
    .voffset40 {
      padding-top:20px;
    }
    .ghost-btn {
      margin-bottom:15px;
    }
}
