.center{
  text-align: center;
}


.caption {
  width:100%;
  bottom: 0rem;
  left:0rem;
  position: absolute;
  background:rgba(236, 71, 31, 0.7);
  padding:0vh 0vh 10px 2px;
  h3{
    color: #fff
  }
}


.sponser{
  padding:5vh;
  &-button{
    border: none;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    background-color:rgb(236, 71, 31);
  }
  &-heading{
    font-size:50pt;
  }
  &-subheading{
    font-size:18pt;
  }
}


.gallery{
  background: rgba(211,211,211,0.9);
  padding:0vh 5vh 5vh 5vh;
  width: 100%;
  &-container{
    margin: 0px;
    padding: 0px;
  }
  &-image{
    position:relative;
    margin-bottom:4vh;
    height:50vh;
    background-size:cover;
  }
  &-heading{
    padding:1vh;
    font-size:50pt;
  }
  &-image1{
    background-image: url(../images/background.jpg);
  }
  &-image2{
    background-image: url(../images/Gallery-1.jpg);
  }
  &-image3{
    background-image: url(../images/Gallery-3.jpg);
  }
  &-image4{
    background-image: url(../images/Gallery-4.jpg);
  }
  &-image5{
    background-image: url(../images/Gallery-2.jpg);
  }
}
