.venue-image{
  background-image: url(../images/the-ritz-carlton.jpg);
  background-size: auto;
  padding: 0%;
  margin: 0%;
  color: #fff;
}

.venue-head{
  font-size: 40px;
  font-family: proxima-nova-regular,sans-serif;
  padding-top: 0.8em;
  margin-top: 0%;
}

.venue-body{
  font-size:50pt;
  font-family: proxima-nova-regular,sans-serif;
  padding-bottom: 0px;
}

.venue-foot{
  font-weight: normal;
  font-family: proxima-nova-regular,sans-serif;
  padding-bottom: 1em;
}

.map{
  padding: 0px;
  margin: 0px;
  width: 100%;
  height:400px;
  pointer-events: none;
}
