@font-face {
  font-family: proxima-nova-regular;
  src: url("../fonts/ProximaNova-Regular.ttf");
}

.venue-container {
  background: #fff;
}

@font-face{
  font-family: proxima-nova-bold;
  src: url("../fonts/ProximaNova-Bold.ttf");
}
.venue-image{
  background-image: url(../images/the-ritz-carlton.jpg);
  background-size: cover;
  padding: 0%;
  padding-top: 7em;
  padding-bottom: 7em;
  margin: 0%;
  color: #fff;
}

.venue-head{
  padding-top: 1em;
  font-size: 3.5em;
  padding-bottom: 0px;
  font-family: proxima-nova-regular;
}

.venue-body{
  font-size: 4em;
  font-family: proxima-nova-bold;
  padding-bottom: 0px;
  margin: 0px;
}

.venue-foot{
  padding-top: 0px;
  margin-top: 0px;
  font-weight: normal;
  font-size: 2.5em;
  font-family: proxima-nova-regular,sans-serif;
}

#map{
  padding: 0px;
  margin: 0px;
  border: 0px;
  width: 100%;
  height:400px;
}

@media only screen and (min-width : 320px) and (max-device-width: 480px) {
  .venue-head {
   font-size: 30px;
  }
  .venue-body {
    font-size: 25px;
  }
  .venue-foot {
    font-size: 20px;
  }
}
