doctype html

html
	include views/partials/headTag.jade

	body.body-tag
		include views/partials/modernizer.jade
		include views/partials/navbar.jade

		//view
		include views/testRoute/test.jade


		include views/partials/footer.jade

		//- scripts
		include views/partials/scripts.jade
