doctype html

include views/headTag.jade

body.body-tag
	include views/modernizer.jade
	include views/navbar.jade

	//view
	include views/testRoute/test.jade


	include views/footer.jade

	//- scripts
	include views/scripts.jade
