.detail-container.text-center
  h1 WHY SHOULD I GO
  p.sub-text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates quod explicabo id libero similique nobis rem cum quaerat culpa.
  .row
    .col-md-4.col-sm-4.col-xs-12.detail-items
      h4 Discover New Ideas
      p  JS Channel brings the stalwarts and the visionaries to one platform, where you can discover and learn the best solutions from people who share same interests as you.
    .col-md-4.col-sm-4.col-xs-12.detail-items
      h4 Get Updated
      p  Get yourself updated with the new trends, technologies, ideas and platforms being used across the globe. The technologists, business leaders and disruptors are constantly exploring new avenues. Listening and discussing with them is always the best idea.
    .col-md-4.col-sm-4.col-xs-12.detail-items
      h4 The Experience
      p  If you are inquisitive of the cutting edge technology and want an enriching experience while learning them, JS Channel Conference provides an opportunity to learn from professional JS trainers and experience live-coding sessions.