.detail-container.text-center
  h1 WHY SHOULD I GO
  p.sub-text  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates quod explicabo id libero similique nobis rem cum quaerat culpa.
  .row
    .col-md-4.col-sm-4.col-xs-12.detail-items
      h4 Meet the Super Stars
      p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus assumenda a, molestiae quisquam, doloremque odit doloribus ea nostrum. Et quae eum, animi repellendus quia ut quas illum soluta odio aut. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus assumenda a, molestiae quisquam, doloremque odit doloribus ea nostrum. Et quae eum, animi repellendus quia ut quas illum soluta odio aut.
    .col-md-4.col-sm-4.col-xs-12.detail-items
      h4 Be Updated
      p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus assumenda a, molestiae quisquam, doloremque odit doloribus ea nostrum. Et quae eum, animi repellendus quia ut quas illum soluta odio aut. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus assumenda a, molestiae quisquam, doloremque odit doloribus ea nostrum. Et quae eum, animi repellendus quia ut quas illum soluta odio aut.
    .col-md-4.col-sm-4.col-xs-12.detail-items
      h4 The Experience
      p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus assumenda a, molestiae quisquam, doloremque odit doloribus ea nostrum. Et quae eum, animi repellendus quia ut quas illum soluta odio aut. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minus assumenda a, molestiae quisquam, doloremque odit doloribus ea nostrum. Et quae eum, animi repellendus quia ut quas illum soluta odio aut.