.partner-container
    .container.partner-section.text-center
      h1 PARTNERS
      .partner-subheading Big thanks to our partners
      ul
        li
          img.partner-image.partner-img1(src="../images/partner1.png", alt="")
        li
          img.partner-image(src="../images/partner2.png", alt="")
      //- .row
      //-   .col-md-4.col-sm-6
      //-     h3.text-left Gold
      //-     ul.partner-logo
      //-       li
      //-         img(src="../images/partner1.png", alt="")
      //-       li
      //-         img(src="../images/partner1.png", alt="")
      //-   .col-md-4.col-sm-6
      //-     h3.text-left Silver
      //-     ul.partner-logo
      //-       li
      //-         img(src="../images/partner1.png", alt="")
      //-       li
      //-         img(src="../images/partner1.png", alt="")
      //-   .col-md-4.col-sm-6
      //-     h3.text-left Bronze
      //-     ul.partner-logo
      //-       li
      //-         img(src="../images/partner1.png", alt="")
      //-       li
      //-         img(src="../images/partner1.png", alt="")
      a.btn.partner-button(href="all-sponsors.html")
        i.fa.fa-chevron-circle-right
        | BECOME A SPONSOR
      
        
