section.section
	.container-fluid.partner-container#partner
		.container.partner-section
			.partner
				.row
					.col-md-12.col-sm-12.col-xs-12
						.partner-heading.center
							| PARTNERS
						.partner-subheading.center Big thanks to our partners
				.row
					.partner-logo.text-center
						img.partner-image(src='../images/partner1.png')
						img.partner-image(src='../images/partner2.png')
						
