#speakers.speakers-section.text-center
  h1 SPEAKERS
  .sub-heading  This conference will be a mix of inspirational talks and hands-on workshops by leading stalwarts of the industry, JS enthusiasts and management leaders 
  .row.row-fix
    .col-md-3.col-sm-3.col-xs-12.speakers-items
      .inner-container.flip-container
        .flipper
          .image-text-container.front
            img(src="../images/yehuda.jpeg", alt="")
            .name YEHUDA KATZ
            .profile Open Source Evagelist, Co-Founder TILDE INC.
          .image-text-container.back
            .back-content
              h3 YEHUDA KATZ
              p Open Source Evagelist, Co-Founder TILDE INC.
              ul
                li.back-circle
                  a(href="")
                    i.fa.fa-facebook.fa-inverse
                li.back-circle
                  a(href="")
                    i.fa.fa-twitter.fa-inverse
                li.back-circle
                  a(href="")
                    i.fa.fa-linkedin.fa-inverse
    .col-md-3.col-sm-3.col-xs-12.speakers-items
      .inner-container.flip-container
        .flipper
          .image-text-container.front
            img(src="../images/lea.jpg", alt="")
            .name LEA VEROU
            .profile Doing Research in Human-Computer Interaction, MIT CSAIL.
          .image-text-container.back
            .back-content
              h3 LEA VEROU
              p Doing Research in Human-Computer Interaction, MIT CSAIL.
              ul
                li.back-circle
                  a(href="")
                    i.fa.fa-facebook.fa-inverse
                li.back-circle
                  a(href="")
                    i.fa.fa-twitter.fa-inverse
                li.back-circle
                  a(href="")
                    i.fa.fa-linkedin.fa-inverse
    .col-md-3.col-sm-3.col-xs-12.speakers-items
      .inner-container.flip-container
        .flipper
          .image-text-container.front
            img(src="../images/speaker-3.jpg", alt="")
            .name SATTY BHENS
            .profile Digital Principal at McKisney Digital Labs
          .image-text-container.back
            .back-content
              h3 SATTY BHENS
              p Digital Principal at McKisney Digital Labs
              ul
                li.back-circle
                  a(href="")
                    i.fa.fa-facebook.fa-inverse
                li.back-circle
                  a(href="")
                    i.fa.fa-twitter.fa-inverse
                li.back-circle
                  a(href="")
                    i.fa.fa-linkedin.fa-inverse
    .col-md-3.col-sm-3.col-xs-12.speakers-items
      .inner-container.flip-container
        .flipper
          .image-text-container.front
            img(src="../images/speaker-1.jpg", alt="")
            .name ERIC RASMUSSEN
            .profile Creator of Redux Form and the Ducks
          .image-text-container.back
            .back-content
              h3 ERIC RASMUSSEN
              p Creator of Redux Form and the Ducks
              ul
                li.back-circle
                  a(href="")
                    i.fa.fa-facebook.fa-inverse
                li.back-circle
                  a(href="")
                    i.fa.fa-twitter.fa-inverse
                li.back-circle
                  a(href="")
                    i.fa.fa-linkedin.fa-inverse
    a.btn.speaker-button(href="all-speakers.html")
        i.fa.fa-chevron-circle-right
        | SEE ALL SPEAKERS