.venue-container
  .section#venue
    div.md-col-12
      div.venue-image.text-center
        h1.venue-head VENUE
        div.venue-body THE RITZ-CARLTON
        h2.venue-foot BANGALORE, KARNATAKA
        