.container-fluid.teaser-container
  // ------ logo to be made -----------// 
  //- .row
  //-   .col-md-1.col-sm-12 
  //-     //- img() jsc logo
  //-   .col-md-4.hidden-sm JSCHANNEL
  .row
    .col-md-offset-1.col-md-10.col-md-offset-1.text-center
      .text-right.left-wrapper.col-md-6
        .f46.bold JS CHANNEL
        .f24 CONFERENCE 2016
      .text-left.right-wrapper.col-md-6.f24
        .f12 JULY 16th, 17th
        .bold BENGALURU
