.container-fluid.teaser-container
  // ------ logo to be made -----------// 
  //-   .col-md-1.col-sm-12 
  //-     //- img() jsc logo
  //-   .col-md-4.hidden-sm JSCHANNEL
  .text-center
    .left-wrapper.display-inline
      .f65.bold JS CHANNEL
      .f30 CONFERENCE 2016
    .right-wrapper.display-inline.f30
      .f12 JULY 16th, 17th
      .bold BENGALURU

  .voffset4.clearfix.text-center
    input.input.white-border.no-float.form-control.email-input.f14.col-md-4.col-sm-6.col-xs-9.padding10(type='text', placeholder='E-mail address',name="email", required)
    |<input type="submit" value="GET UPDATES" class="text-center bold ghost-button white-border f14 padding10 col-md-2 col-sm-3 no-float email-submit">

  .col-xs-12.text-center.bottom-wrapper
    .col-sm-4.col-xs-12.previous-wrapper
      .f12.semibold View previous Conference
      .f12
        a.white(href='http://2015.jschannel.com/', target="_blank") 2015 &gt; 
        a.white(href='http://2014.jschannel.com/#/', target="_blank") 2014 &gt;
    .col-sm-6.col-sm-offset-2.col-xs-12.social-wrapper
      .col-sm-2.col-sm-offset-2.icon-style.text-center
        a.white(href="", target="_black")
          i.fa.fa-play
      .col-sm-2.icon-style.text-center
        a.white.facebook(href="https://www.facebook.com/javascriptchannel", target="_blank")
          i.fa.fa-facebook
      .col-sm-2.icon-style.text-center
        a.white.twitter(href="https://twitter.com/js_channel/", target="_blank")
          i.fa.fa-twitter
      .col-sm-2.icon-style.text-center
        a.white.linkedin(href="http://www.linkedin.com/groups?home=&gid=5112841", target="_blank")
          i.fa.fa-linkedin
      .col-sm-2.icon-style.text-center
        a.white.youtube(href="https://www.youtube.com/channel/UCdf_Ezv2lcB9OKE_4N23w1A/videos", target="_blank")
          i.fa.fa-youtube
