// Normalize Styles
@import 'node_modules/normalize.css/normalize';

// Import Modules
@import '../_modules/bootstrap/bootstrap.min.scss';
@import '../_modules/bootstrap/bootstrap-theme.min.scss';
@import '../_modules/teaserView/teaser';
@import '../../bower_components/font-awesome/scss/font-awesome.scss';

// Box sizing partial styles:
// Apply a natural box layout model to all elements
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

// Styling on warning for users on IE7 or below
.browsehappy {
  text-align: center;
  margin: 0;
  background: #fff8e2;
  color: #000;
  padding: 0.5em 0;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

.bold {
  font-weight: 800;
}

.semibold {
  font-weight: 500;
}

.f46 {
  font-size: 46px;
}

.f24 {
  font-size: 24px;
}

.f14 {
  font-size:14px;
}

.nopadding {
  padding:0px;
}

.voffset4 {
  padding-top:4vh;
}

.voffset45 {
  padding-top:45vh;
}

.white-border {
  border:1px solid white
}

.ghost-button {
  background-color:transparent;
}

.white {
  color:white;
}