.all-speakers-container
  h1 SPEAKERS
  .sub-heading This conference will be a mix of inspirational talks and hands-on workshops by leading stalwarts of the industry, JS enthusiasts and management leaders 
  .row.speaker-row
    .col-md-3.col-sm-3.col-xs-12.speakers-items
      .inner-container
        .image-text-container
          img(src="../images/speaker-1.jpg", alt="")
    .col-md-9.col-sm-9.col-xs-12.speaker-detail
      .people-name ERIC RASMUSSEN
      .people-work Creator of Redux Form and the Ducks
      .people-detail Erik Rasmussen is an American senior software architect living in Spain with over twenty years of web development experience, and the creator of the popular Redux-Form library.
      .links
        ul
          li.back-circle
            a(href="")
              i.fa.fa-facebook.fa-inverse
          li.back-circle
            a(href="")
              i.fa.fa-twitter.fa-inverse
          li.back-circle
            a(href="")
              i.fa.fa-linkedin.fa-inverse
  hr.hr-color
  .row.speaker-row
    .col-md-3.col-sm-3.col-xs-12.speakers-items
      .inner-container
        .image-text-container
          img(src="../images/speaker-2.jpg", alt="")
    .col-md-9.col-sm-9.col-xs-12.speaker-detail
      .people-name JOE PETTERSSON
      .people-work Ui Engineering at McKinsey & Company
      .people-detail Joe's UI Engineering Lead at McKinsey & Company, specifially at McKinsey Digital Labs. He's passionate about user-interfaces, user-experiences and building kick-ass tools and products. He's been writing JavaScript since the late 1990's, and has a passion for talking about it publically. He's half Swedish and half English, which means that while he loves herring, snow and flat-pack furniture; he also never performs adequatley at international football tournaments.
      .links
        ul
          li.back-circle
            a(href="https://www.facebook.com/Joe8Bit")
              i.fa.fa-facebook.fa-inverse
          li.back-circle
            a(href="https://twitter.com/Joe8Bit")
              i.fa.fa-twitter.fa-inverse
          li.back-circle
            a(href="http://in.linkedin.com/in/joepettersson")
              i.fa.fa-linkedin.fa-inverse
  hr.hr-color
  .row.speaker-row
    .col-md-3.col-sm-3.col-xs-12.speakers-items
      .inner-container
        .image-text-container
          img(src="../images/speaker-3.jpg", alt="")
    .col-md-9.col-sm-9.col-xs-12.speaker-detail
      .people-name SATTY BHENS
      .people-work Digital Principal At McKinsey Digital Labs
      .people-detail Helps major organizations deploy cutting-edge technology practices to accelerate project and application development, build IT capabilities, and capture substantial cost savings.
      .links
        ul
          li.back-circle
            a(href="")
              i.fa.fa-facebook.fa-inverse
          li.back-circle
            a(href="https://twitter.com/sattybhens")
              i.fa.fa-twitter.fa-inverse
          li.back-circle
            a(href="https://www.linkedin.com/in/sattybhens")
              i.fa.fa-linkedin.fa-inverse
  hr.hr-color
  .row.speaker-row
    .col-md-3.col-sm-3.col-xs-12.speakers-items
      .inner-container
        .image-text-container
          img(src="../images/speaker-4.jpg", alt="")
    .col-md-9.col-sm-9.col-xs-12.speaker-detail
      .people-name AJAY SHRIVASTAVA
      .people-work VP-Engineering and Chief Culture Ambassador at OYO
      .people-detail Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, impedit, ullam. Totam, fuga fugiat tenetur voluptates cumque, placeat, veniam atque dicta harum ut odio id porro suscipit mollitia officiis nisi.
      .links
        ul
          li.back-circle
            a(href="")
              i.fa.fa-facebook.fa-inverse
          li.back-circle
            a(href="https://twitter.com/ajayshr")
              i.fa.fa-twitter.fa-inverse
          li.back-circle
            a(href="https://in.linkedin.com/in/ajayshrivastava1")
              i.fa.fa-linkedin.fa-inverse
  hr.hr-color
  .row.speaker-row
    .col-md-3.col-sm-3.col-xs-12.speakers-items
      .inner-container
        .image-text-container
          img(src="../images/img.png", alt="")
    .col-md-9.col-sm-9.col-xs-12.speaker-detail
      .people-name YOU?
      .people-work Want to be a Speaker?
      .people-detail Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore, impedit, ullam. Totam, fuga fugiat tenetur voluptates cumque, placeat, veniam atque dicta harum ut odio id porro suscipit mollitia officiis nisi.
      a.btn.speaker-know-more-button(href="")
        i.fa.fa-chevron-circle-right
        | KNOW MORE
.contact-container.text-center
  h1 CONTACT
  .sub-heading For any queries or further information, please contact our team below.
  .row
    .col-md-6.col-sm-6
      .contact-details
        p Amit Kumar: +919619483353
        p Rajesh Panda: +919900488400
    .col-md-6.col-sm-6
      .contact-details
        p Suman Paul: +919945458300
        p Niket Jain: +919025328198
  .row
    .contact-details
      p Naresh Sharma: +919611641301