.full-program-container
  h1 PROGRAM
  .subtext Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptate magnam animi labore vero odio voluptatum dolorum quis ad quam, nulla blanditiis delectus voluptas officia et sed culpa, magni nihil qui.
  .program-toggle-button.text-center
    .btn-group(role='group', aria-label='...')
      button.btn.btn-default.program-days.program-button-active#procedure1(type='button', onclick="toggleProcedure()") July 15th, 2016
      button.btn.btn-default.program-days#procedure2(type='button', onclick="toggleProcedure()") July 16th, 2016
  #cd-timeline1.cd-container
    .cd-timeline-block
      .cd-timeline-img.cd-bg
        img(src='images/icon-2.png', alt='Icon')
      // cd-timeline-img
      .cd-timeline-content
        .col-md-2.col-sm-2.col-xs-12.content-img
          img(src="../images/img-1.png", alt="")
        .col-md-10.col-sm-10.col-xs-12
          .content-heading 8:30am - 9:30am WELCOME & REGISTRATION
    .cd-timeline-block
      .cd-timeline-img.cd-bg
        img(src='../images/icon-2.png', alt='Icon')
      .cd-timeline-content.content-active
        .col-md-2.col-sm-2.col-xs-12.content-img
          img(src="../images/img-1.png", alt="")
        .col-md-10.col-sm-10.col-xs-12
          .content-heading 9:30am - 10:00am PRE-CONFERENCE
    .cd-timeline-block
      .cd-timeline-img.cd-bg
        img(src='../images/icon-2.png', alt='Icon')
      .cd-timeline-content
        .col-md-2.col-sm-2.col-xs-12.content-img
          img(src="../images/img-1.png", alt="")
        .col-md-10.col-sm-10.col-xs-12
          .content-heading 10:00am - 11:00am OPENING KEYNOTE
    .cd-timeline-block
      .cd-timeline-img.cd-bg
        img(src='../images/icon-2.png', alt='Icon')
      .cd-timeline-content
        .col-md-2.col-sm-2.col-xs-12.content-img
          img(src="../images/img-1.png", alt="")
        .col-md-10.col-sm-10.col-xs-12
          .content-heading 11:00am - 11:45am TALK SESSION I
    .cd-timeline-block
      .cd-timeline-img.cd-bg
        img(src='../images/icon-2.png', alt='Icon')
      .cd-timeline-content
        .col-md-2.col-sm-2.col-xs-12.content-img
          img(src="../images/img-1.png", alt="")
        .col-md-10.col-sm-10.col-xs-12
          .content-heading 11:45am - 12:30pm TALK SESSION II
    .cd-timeline-block
      .cd-timeline-img.cd-bg
        img(src='../images/icon-2.png', alt='Icon')
      .cd-timeline-content
        .col-md-2.col-sm-2.col-xs-12.content-img
          img(src="../images/img-1.png", alt="")
        .col-md-10.col-sm-10.col-xs-12
          .content-heading 12:30pm - 2:00pm LUNCH BREAK
    .cd-timeline-block
      .cd-timeline-img.cd-bg
        img(src='../images/icon-2.png', alt='Icon')
      .cd-timeline-content
        .col-md-2.col-sm-2.col-xs-12.content-img
          img(src="../images/img-1.png", alt="")
        .col-md-10.col-sm-10.col-xs-12
          .content-heading 2:00pm - 4:30apm WORKSHOP - LIVE CODING
    .cd-timeline-block
      .cd-timeline-img.cd-bg
        img(src='../images/icon-2.png', alt='Icon')
      .cd-timeline-content
        .col-md-2.col-sm-2.col-xs-12.content-img
          img(src="../images/img-1.png", alt="")
        .col-md-10.col-sm-10.col-xs-12
          .content-heading 4:30pm - 5:00pm TEA BREAK
    .cd-timeline-block
      .cd-timeline-img.cd-bg
        img(src='../images/icon-2.png', alt='Icon')
      .cd-timeline-content
        .col-md-2.col-sm-2.col-xs-12.content-img
          img(src="../images/img-1.png", alt="")
        .col-md-10.col-sm-10.col-xs-12
          .content-heading 5:00pm - 5:30pm LIGHTNING/FLASH TALK
    .cd-timeline-block
      .cd-timeline-img.cd-bg
        img(src='../images/icon-2.png', alt='Icon')
      .cd-timeline-content
        .col-md-2.col-sm-2.col-xs-12.content-img
          img(src="../images/img-1.png", alt="")
        .col-md-10.col-sm-10.col-xs-12
          .content-heading 5:30pm SUMMARY AND UPADTES FOR DAY 2
  #cd-timeline2.cd-container
    .cd-timeline-block
      .cd-timeline-img.cd-bg
        img(src='images/icon-2.png', alt='Icon')
      // cd-timeline-img
      .cd-timeline-content
        .col-md-2.col-sm-2.col-xs-12.content-img
          img(src="../images/img-1.png", alt="")
        .col-md-10.col-sm-10.col-xs-12
          .content-heading 8:30am - 9:30am WELCOME & REGISTRATION
    .cd-timeline-block
      .cd-timeline-img.cd-bg
        img(src='../images/icon-2.png', alt='Icon')
      .cd-timeline-content.content-active
        .col-md-2.col-sm-2.col-xs-12.content-img
          img(src="../images/img-1.png", alt="")
        .col-md-10.col-sm-10.col-xs-12
          .content-heading 9:30am - 10:00am PRE-CONFERENCE
    .cd-timeline-block
      .cd-timeline-img.cd-bg
        img(src='../images/icon-2.png', alt='Icon')
      .cd-timeline-content
        .col-md-2.col-sm-2.col-xs-12.content-img
          img(src="../images/img-1.png", alt="")
        .col-md-10.col-sm-10.col-xs-12
          .content-heading 10:00am - 11:00am OPENING KEYNOTE
    .cd-timeline-block
      .cd-timeline-img.cd-bg
        img(src='../images/icon-2.png', alt='Icon')
      .cd-timeline-content
        .col-md-2.col-sm-2.col-xs-12.content-img
          img(src="../images/img-1.png", alt="")
        .col-md-10.col-sm-10.col-xs-12
          .content-heading 11:00am - 11:45am TALK SESSION I
    .cd-timeline-block
      .cd-timeline-img.cd-bg
        img(src='../images/icon-2.png', alt='Icon')
      .cd-timeline-content
        .col-md-2.col-sm-2.col-xs-12.content-img
          img(src="../images/img-1.png", alt="")
        .col-md-10.col-sm-10.col-xs-12
          .content-heading 11:45am - 12:30pm TALK SESSION II
    .cd-timeline-block
      .cd-timeline-img.cd-bg
        img(src='../images/icon-2.png', alt='Icon')
      .cd-timeline-content
        .col-md-2.col-sm-2.col-xs-12.content-img
          img(src="../images/img-1.png", alt="")
        .col-md-10.col-sm-10.col-xs-12
          .content-heading 12:30pm - 2:00pm LUNCH BREAK
    .cd-timeline-block
      .cd-timeline-img.cd-bg
        img(src='../images/icon-2.png', alt='Icon')
      .cd-timeline-content
        .col-md-2.col-sm-2.col-xs-12.content-img
          img(src="../images/img-1.png", alt="")
        .col-md-10.col-sm-10.col-xs-12
          .content-heading 2:00pm - 4:30apm WORKSHOP - LIVE CODING
    .cd-timeline-block
      .cd-timeline-img.cd-bg
        img(src='../images/icon-2.png', alt='Icon')
      .cd-timeline-content
        .col-md-2.col-sm-2.col-xs-12.content-img
          img(src="../images/img-1.png", alt="")
        .col-md-10.col-sm-10.col-xs-12
          .content-heading 4:30pm - 5:00pm TEA BREAK
    .cd-timeline-block
      .cd-timeline-img.cd-bg
        img(src='../images/icon-2.png', alt='Icon')
      .cd-timeline-content
        .col-md-2.col-sm-2.col-xs-12.content-img
          img(src="../images/img-1.png", alt="")
        .col-md-10.col-sm-10.col-xs-12
          .content-heading 5:00pm - 5:30pm LIGHTNING/FLASH TALK
    .cd-timeline-block
      .cd-timeline-img.cd-bg
        img(src='../images/icon-2.png', alt='Icon')
      .cd-timeline-content
        .col-md-2.col-sm-2.col-xs-12.content-img
          img(src="../images/img-1.png", alt="")
        .col-md-10.col-sm-10.col-xs-12
          .content-heading 5:30pm SUMMARY
.contact-container.text-center
  h1 CONTACT
  .sub-heading For any queries or further information, please contact our team below.
  .row
    .col-md-6.col-sm-6
      .contact-details
        p Amit Kumar: +919619483353
        p Rajesh Panda: +919900488400
    .col-md-6.col-sm-6
      .contact-details
        p Suman Paul: +919945458300
        p Niket Jain: +919025328198
  .row
    .contact-details
      p Naresh Sharma: +919611641301
