.full-about-us-container
  h1 ABOUT JSCHANNEL
  .subtext Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae odio, consequatur sequi ipsum commodi quod mollitia eveniet, a reiciendis enim modi soluta animi saepe aut deserunt, vitae obcaecati non debitis.
  .subtext Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae odio, consequatur sequi ipsum commodi quod mollitia eveniet, a reiciendis enim modi soluta animi saepe aut deserunt, vitae obcaecati non debitis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus facilis ab, qui dolore rem repudiandae voluptas corporis tempora saepe. Earum ipsa quis eos voluptatum quas, quae itaque quisquam eius? Nemo.
  .subtext Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae odio, consequatur sequi ipsum commodi quod mollitia eveniet, a reiciendis enim modi soluta animi saepe aut deserunt, vitae obcaecati non debitis.
  .row.about-blocks
    .col-md-3.col-sm-3.col-xs-12
      h4 Lorem ipsum dolor sit amet.
      .block
        img(src="", alt="")
    .col-md-9.col-sm-9.col-xs-12
      .block-detail Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam corporis iusto repellendus, unde corrupti sed, et dolorum ipsa, fugit ex dolore impedit nesciunt in libero architecto quidem sequi. Ratione, quasi! consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      .block-detail-2 Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  .row.about-blocks
    .col-md-3.col-sm-3.col-xs-12
      h4 Lorem ipsum dolor sit amet.
      .block
        img(src="", alt="")
    .col-md-9.col-sm-9.col-xs-12
      .block-detail Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam corporis iusto repellendus, unde corrupti sed, et dolorum ipsa, fugit ex dolore impedit nesciunt in libero architecto quidem sequi. Ratione, quasi! consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      .block-detail-2 Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  .row.about-blocks
    .col-md-3.col-sm-3.col-xs-12
      h4 Lorem ipsum dolor sit amet.
      .block
        img(src="", alt="")
    .col-md-9.col-sm-9.col-xs-12
      .block-detail Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam corporis iusto repellendus, unde corrupti sed, et dolorum ipsa, fugit ex dolore impedit nesciunt in libero architecto quidem sequi. Ratione, quasi! consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      .block-detail-2 Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  .full-team-section#gallery
    .team-container
      h1 OUR TEAM
      p  The Core team who has worked extremely hard to make this conference epic
      .row
        .col-md-3.col-sm-3.col-xs-6.team-items
          .inner-container
            .image-text-container
              img(src="../images/img.png", alt="")
              .name Amit Kumar
            .profile Digital Expert
        .col-md-3.col-sm-3.col-xs-6.team-items
          .inner-container
            .image-text-container
              img(src="../images/img.png", alt="")
              .name Amit Anand
            .profile Digital Engagement Manager
          //- img(src="../images/img.png", alt="")
          //- .name Amit Anand
          //- .profile Digital Engagement Manager
        .col-md-3.col-sm-3.col-xs-6.team-items
          .inner-container
            .image-text-container
              img(src="../images/img.png", alt="")
              .name Naresh Sharma
            .profile Digital Consultant
          //- img(src="../images/img.png", alt="")
          //- .name Naresh Sharma
          //- .profile Digital Consultant
        .col-md-3.col-sm-3.col-xs-6.team-items
          .inner-container
            .image-text-container
              img(src="../images/img.png", alt="")
              .name Suman Paul
            .profile Senior Digital Analyst
          //- img(src="../images/img.png", alt="")
          //- .name Suman Paul
          //- .profile Senior Digital Analyst
.contact-container.text-center
  h1 CONTACT
  .sub-heading For any queries or further information, please contact our team below.
  .row
    .col-md-6.col-sm-6
      .contact-details
        p Amit Kumar: +919619483353
        p Rajesh Panda: +919900488400
    .col-md-6.col-sm-6
      .contact-details
        p Suman Paul: +919945458300
        p Niket Jain: +919025328198
  .row
    .contact-details
      p Naresh Sharma: +919611641301
