.register-container.full-register-container
  h1 REGISTER
  p.sub-heading  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero quod sint, ratione odio, rem illum, pariatur blanditiis molestiae accusantium rerum atque officiis excepturi doloremque.
  .row
    .col-md-6.col-sm-6.col-xs-12
      .ticket-container.text-center
        .row.row-fix
          .col-md-6.col-sm-6.col-xs-6
            p.ticket-head SUPER EARLY BIRD
            p.ticket-price ₹ 3000
            p.ticket-person SINGLE PERSON
          .col-md-6.col-sm-6.col-xs-6
            p.ticket-info  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            p.ticket-button.ticket-button-inactive Sold Out
    .col-md-6.col-sm-6.col-xs-12
      .ticket-container.text-center
        .row.row-fix
          .col-md-6.col-sm-6.col-xs-6
            p.ticket-head EARLY BIRD
            p.ticket-price ₹ 4500
            p.ticket-person SINGLE PERSON
          .col-md-6.col-sm-6.col-xs-6
            p.ticket-info  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            a(href='https://www.townscript.com/e/jschannel2016', target='_blank')
              p.ticket-button.ticket-button-active Buy Tickets
  .row
    .col-md-6.col-sm-6.col-xs-12
      .ticket-container.text-center
        .row.row-fix
          .col-md-6.col-sm-6.col-xs-6
            p.ticket-head JS ENTHUSIAST
            p.ticket-price ₹ 7000
            p.ticket-person SINGLE PERSON
          .col-md-6.col-sm-6.col-xs-6
            p.ticket-info  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            p.ticket-button.ticket-button-inactive Buy Tickets
    .col-md-6.col-sm-6.col-xs-12
      .ticket-container.text-center
        .row.row-fix
          .col-md-6.col-sm-6.col-xs-6
            p.ticket-head LATE ARRIVAL
            p.ticket-price ₹ 8000
            p.ticket-person SINGLE PERSON
          .col-md-6.col-sm-6.col-xs-6
            p.ticket-info  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            p.ticket-button.ticket-button-inactive Buy Tickets
.contact-container.text-center
  h1 CONTACT
  .sub-heading For any queries or further information, please contact our team below.
  .row
    .col-md-6.col-sm-6
      .contact-details
        p Amit Kumar: +919619483353
        p Rajesh Panda: +919900488400
    .col-md-6.col-sm-6
      .contact-details
        p Suman Paul: +919945458300
        p Niket Jain: +919025328198
  .row
    .contact-details
      p Naresh Sharma: +919611641301